﻿@model MegaProject.Models.Share_History

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Share_History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Share.Share_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share.Share_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share_History_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_History_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share_History_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_History_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Share_History_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
