﻿
@model MegaProject.Models.Plaza
@using MegaProject.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add another Plaza</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Plaza</a></li>
                        <li class="breadcrumb-item active">Add Another Plaza</li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Plaza Information</h4>


                        @*<form class="form-material m-t-40" action="~/Shares/Create" method="post"  name="form">*@

                        @using (Html.BeginForm("Create", "Plazas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                    <label>Market Name</label>
                                    <br />
                                    <div class="form-group">
                                        <select name="Market_id" class="form-control">
                                            @foreach (var item in db.Markets.ToList())
                                            {
                                                <option value="@item.Market_id"> @item.Market_Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label>Plaza Name</label>
                                <input type="text" class="form-control form-control-line" name="Plaza_Name" placeholder="Enter Plaza Name" required />
                            </div>
                            @*<div class="form-group">
                                <label>Plaza Status</label>
                                <input type="checkbox" class="form-control" name="Plaza_Status" required>
                            </div>*@

                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6">
                                            <input type="submit" name="Submit" value="Submit" class="btn btn-lg btn-success" style="width:100%" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="reset" value="Clear" class="btn btn-lg btn-warning" style="width:100%" />
                                        </div>
                                    </div>

                                    <div class="col-sm-2"></div>
                                </div>
                                @*</form>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

