﻿@model MegaProject.Models.Plaza

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"> Plazas List</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Plazas List</a></li>
                        <li class="breadcrumb-item active">Plazas</li>
                    </ol>
                    @*<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> @Html.ActionLink("Create New", "Create")</button>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Plaza</h4>
                        <hr />
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                <h3>Are you sure you want to delete this?</h3>
                                <div>
                                    <h4>Plaza</h4>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <label class="control-label col-md-12">Market Name</label>
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Market.Market_Name)
                                        </dd>
                                                                               
                                         <dt>
                                            <label class="control-label col-md-12">Plaza Name</label>
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Plaza_Name)
                                        </dd>

                                        <dt>
                                            <label class="control-label col-md-12">Plaza Status </label>
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Plaza_Status)
                                        </dd>

                                    </dl>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-default" /> |
                                            @Html.ActionLink("Back to List", "Index")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

