﻿@model MegaProject.Models.Plaza
@using MegaProject.Models
{

}

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}


@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"> Markets List</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Plazas</a></li>
                        <li class="breadcrumb-item active">Plazas List</li>
                    </ol>
                    @*<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> @Html.ActionLink("Create New", "Create")</button>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Plaza</h4>
                        <hr />
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                @using (Html.BeginForm("Edit", "Plazas", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>Market</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Plaza_id)

                        
                                        <div class="form-group">
                                            <select name="Market_id" class="form-control">
                                                @foreach (var item in db.Markets.ToList())
                                                {
                                                    <option value="@item.Market_id"> @item.Market_Name</option>
                                                }
                                            </select>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label col-md-12">Plaza Name</label>
                                            <div class="col-md-12">
                                                <input type="text" value="@Model.Plaza_Name" name="Plaza_Name" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <label class="control-label col-md-12">Market Status </label>
                                            <div class="col-md-12">
                                                <input type="checkbox" value="@Model.Plaza_Status" name="Plaza_Status" class="form-control form-control-line">
                                            </div>
                                        </div>*@
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="submit" value="Save" name="Edit" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>