﻿
@using MegaProject.Models
@model IEnumerable<MegaProject.Models.Plaza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"> Plazas List</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Plaza</a></li>
                        <li class="breadcrumb-item active">Plazas</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> @Html.ActionLink("Create New", "Create")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Plazas</h4>
                        <hr />
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>                              
                                        <th>Market Name</th>
                                        <th>Plaza Name</th>
                                        <th>Plaza Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Market Name</th>
                                        <th>Plaza Name</th>
                                        <th>Plaza Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in db.Plazas.ToList())
                                    {
                                        <tr>
                                            <td>@item.Market.Market_Name</td>
                                            <td>@item.Plaza_Name</td>
                                            <td>@item.Plaza_Status</td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Plaza_id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Plaza_id})
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
