﻿@model MegaProject.Models.Share

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="~/Content/Admin_content/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="~/Content/Admin_content/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"> ShareHolders List</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Share Holders</a></li>
                        <li class="breadcrumb-item active">Share Holders</li>
                    </ol>
                    @*<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> @Html.ActionLink("Create New", "Create")</button>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body"> 
                        <h4 class="card-title">Store</h4>
                        <hr />
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                 @using (Html.BeginForm("Edit" ,"Shares" , FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                  { 
                                     @Html.AntiForgeryToken()   
                                     
                                     <div class="form-horizontal">
                                    <h4>Share</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Share_id)

                                         <div class="form-group">
                                             <label class="control-label col-md-12">Share Percentage</label>
                                             <div class="col-md-12">
                                                 <input type="text" value="@Model.Share_Percentage" name="Share_Percentage" class="form-control form-control-line">
                                             </div>
                                         </div>                    
                                         @*<div class="form-group">
                                             <label class="control-label col-md-12">Share Type </label>
                                             <div class="col-md-12">
                                                 <input type="text" value="@Model.Share_Type" name="Share_Type" class="form-control form-control-line">
                                             </div>
                                         </div>*@   
                                         <div class="form-group">
                                             <label class="control-label col-md-12">Share Amount </label>
                                             <div class="col-md-12">
                                                 <input type="text" value="@Model.Share_Amount" name="Share_Amount" class="form-control form-control-line">
                                             </div>
                                         </div>   
                                         <div class="form-group">
                                             <label class="control-label col-md-12">Share Code</label>
                                             <div class="col-md-12">
                                                 <input type="text" value="@Model.Share_Code" name="Share_Code" class="form-control form-control-line">
                                             </div>
                                         </div>   
                                         <div class="form-group">
                                             <label class="control-label col-md-12">Share Creation Date </label>
                                             <div class="col-md-12">
                                                 <input type="text"  value="@Model.Share_Date.ToShortDateString()"  class="form-control" name="Share_Date" placeholder="2017-06-04" id="mdate">
                                                
                                             </div>
                                         </div>   

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" value="Save" name="Edit"  class="btn btn-default" />
                                        </div>
                                    </div>
                            </div>
                            }
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/Content/Admin_content/assets/node_modules/moment/moment.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
        // MAterial Date picker
        $('#mdate').bootstrapMaterialDatePicker({ format: 'MM/DD/YYYY HH:mm', weekStart: 0, time: false });
        $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
        $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function () {
            console.log(this.value);
        });
        $('#check-minutes').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show').clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker
        $(".colorpicker").asColorPicker();
        $(".complex-colorpicker").asColorPicker({
            mode: 'complex'
        });
        $(".gradient-colorpicker").asColorPicker({
            mode: 'gradient'
        });
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({
            todayHighlight: true
        });
        // Daterange picker
        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'MM/DD/YYYY h:mm A',
            timePickerIncrement: 30,
            timePicker12Hour: true,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-limit-datepicker').daterangepicker({
            format: 'MM/DD/YYYY',
            minDate: '06/01/2015',
            maxDate: '06/30/2015',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            dateLimit: {
                days: 6
            }
        });
    </script>
    }