﻿
@model MegaProject.Models.Share_Holder
@using MegaProject.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}



@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">

    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />


}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add Share</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Store</a></li>
                        <li class="breadcrumb-item active">Add Share Holder</li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Share Holder's Information</h4>


                        @*<form class="form-material m-t-40" action="~/Shares/Create" method="post"  name="form">*@

                        @using (Html.BeginForm("RegisterShare", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label>Share Holder Type</label>
                                <select class="form-control" name="RoleName">
                                    <option value="EmployeeShareHolder">Employee</option>
                                    <option value="ShareHolder">External</option>
                                </select>
                                <div class="form-group">
                                    <label>Share Percentage</label>
                                    <select class="form-control" name="Share_History_id">
                                        @{

                                            var on_amount = db.Share_Histories.Where(x => x.Share.Share_Code== 1).ToList().AsEnumerable().Select(x => x.Share.Share_Percentage).LastOrDefault();
                                            var on_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 1).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
                                            var on_value = db.Share_Histories.Where(x => x.Share.Share_Code == 1).ToList().AsEnumerable().Select(x => x.Share_History_id).LastOrDefault();

                                            var fi_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 5).ToList().AsEnumerable().Select(x => x.Share.Share_Percentage).LastOrDefault();
                                            var fi_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code== 5).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
                                            var fi_value = db.Share_Histories.Where(x => x.Share.Share_Code == 5).ToList().AsEnumerable().Select(x => x.Share_History_id).LastOrDefault();

                                            var te_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 10).ToList().AsEnumerable().Select(x => x.Share.Share_Percentage).LastOrDefault();
                                            var te_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 10).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
                                            var te_value = db.Share_Histories.Where(x => x.Share.Share_Code == 10).ToList().AsEnumerable().Select(x => x.Share_History_id).LastOrDefault();
                                        }

                                        <option value="@on_value">@on_amount (Rs @on_actual_amount)     </option>
                                        <option value="@fi_value">@fi_amount (Rs @fi_actual_amount)      </option>
                                        <option value="@te_value">@te_amount (Rs @te_actual_amount )     </option>

                                    </select>

                                    <div class="form-group">
                                        <label>Share Holder's Name</label>
                                        <input type="text" class="form-control form-control-line" name="Share_Holder_Name" placeholder="Enter Share Holder's Name'" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Share Holder's Unique ID</label>
                                        <input type="text" class="form-control form-control-line" name="Share_Holder_UniqueId" placeholder="Enter Share Holders Unique ID" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Share Holder's Password</label>
                                        <input type="text" class="form-control form-control-line" name="Share_Holder_Password" placeholder="Enter Share Holder's' Code" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Share Holder Date</label>
                                    
                                        <input type="text" class="form-control" name="Share_Holder_Date" placeholder="2017-06-04" id="mdate">
                                        @*<input type="date" class="form-control form-control-line" name="Share_Holder_Date" placeholder="Enter Share Holder's Date" required />*@
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-6">
                                                <input type="submit" name="Submit" value="Submit" class="btn btn-lg btn-success" style="width:100%" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="reset" value="Clear" class="btn btn-lg btn-warning" style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="col-sm-2"></div>
                                    </div>
                                    @*</form>*@

                                </div>
                            </div>
                                            }

                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Content/Admin_content/assets/node_modules/moment/moment.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
        // MAterial Date picker
        $('#mdate').bootstrapMaterialDatePicker({ format: 'MM/DD/YYYY HH:mm', weekStart: 0, time: false });
        $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
        $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function () {
            console.log(this.value);
        });
        $('#check-minutes').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show').clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker
        $(".colorpicker").asColorPicker();
        $(".complex-colorpicker").asColorPicker({
            mode: 'complex'
        });
        $(".gradient-colorpicker").asColorPicker({
            mode: 'gradient'
        });
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({
            todayHighlight: true
        });
        // Daterange picker
        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'MM/DD/YYYY h:mm A',
            timePickerIncrement: 30,
            timePicker12Hour: true,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-limit-datepicker').daterangepicker({
            format: 'MM/DD/YYYY',
            minDate: '06/01/2015',
            maxDate: '06/30/2015',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            dateLimit: {
                days: 6
            }
        });
    </script>

}

































