﻿@model MegaProject.Models.Share_Holder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Share_Holder</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserRole)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserRole)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Share_History.Share_History_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_History.Share_History_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share_Holder_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_Holder_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share_Holder_UniqueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_Holder_UniqueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share_Holder_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share_Holder_Password)
        </dd>

    

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Share_Holder_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
