﻿@using MegaProject.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">
    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
}
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor"> ShareHolders List</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Share Holders</a></li>
                        <li class="breadcrumb-item active">Share Holders</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> @Html.ActionLink("Create New", "Create")</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Store</h4>
                        <hr />
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name </th>
                                        <th>Unique ID</th>
                                        <th>Password</th>
                                        <th>Date</th>
                                        <th>Share Amount</th>
                                        <th>Share Percentage</th>
                                        @*<th>Share Type</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>                                        
                                        <th>Name </th>
                                        <th>Unique ID</th>       
                                        <th>Password</th>
                                        <th>Date</th>
                                        <th>Share Amount</th>
                                        <th>Share Percentage</th>
                                        @*<th>Share Type</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in db.Share_Holders.ToList())
                                    {
                                        <tr>
                                            <td>@item.Share_Holder_Name</td>
                                            <td>@item.Share_Holder_UniqueId</td>
                                            <td>@item.Share_Holder_Password</td>
                                            <td>@item.Share_Holder_Date.ToShortDateString()</td>
                                            <td>@item.Share_History.Share_History_Amount</td>
                                            <td>@item.Share_History.Share.Share_Percentage</td>
                                            @*<td>@item.Share_History.Share.Share_Type</td>*@
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Share_Holder_id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Share_Holder_id })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


