﻿
@model MegaProject.Models.Share_History
@using MegaProject.Models

@{
    ViewBag.Title = "Shareinfo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var used = 0;
    decimal yourshares = 0;
    var purchaseamount = 0;
    var actual_amount = 0;
    var on_actual_amount = 0;
    var fi_actual_amount = 0;
    var te_actual_amount = 0;

        }
@{
    if (User.IsInRole("ShareHolder") || User.IsInRole("EmployeeShareHolder"))
    {
        ApplicationDbContext db = new ApplicationDbContext();

        on_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 1).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
        fi_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 5).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
        te_actual_amount = db.Share_Histories.Where(x => x.Share.Share_Code == 10).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();
        used = db.Share_Histories.Where(x => x.Share.Share_Code == 1 || x.Share.Share_Code == 5 || x.Share.Share_Code == 10).Sum(m => m.Share.Share_Code);
        var remainingshares = (100 - used);
        var userid = Convert.ToString(Session["UserId"]);
        yourshares = db.Share_Holders.Where(m => m.Id == userid).SingleOrDefault().Share_History.Share.Share_Percentage;
        purchaseamount = db.Share_Holders.Where(m => m.Id == userid).SingleOrDefault().Share_History.Share.Share_Amount;

        actual_amount = db.Share_Histories.Where(x => x.Share.Share_Percentage == yourshares).AsEnumerable().Select(x => x.Share_History_Amount).LastOrDefault();


        //    var Share_Holder = new Share_Holder[]
        //{    //            new Share_Holder() {Share_Holder_Name ="waleed" , Share_Holder_UniqueId="100" },
        //new Share_Holder() {Share_Holder_Name ="sarmad" , Share_Holder_UniqueId="200" },

        //};




    @section Css {

        <!-- DataTables -->
        <link href="~/Content/Admin_content/dist/css/pages/dashboard1.css" rel="stylesheet">
        <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="~/Content/Admin_content/dist/css/pages/dashboard1.css" rel="stylesheet">
        <link href="~/Content/Admin_content/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
        <link href="~/Content/Admin_content/dist/js/pages/morris-data.js" rel="stylesheet">
        <link href="" rel="text/javascript" />
        <link href="~/Content/Admin_content/dist/css/pages/widget-page.css" rel="stylesheet">
        <script src="~/Content/Admin_content/assets/node_modules/gauge/gauge.min.js"></script>
        <script src="~/Content/Admin_content/assets/node_modules/Chart.js/Chart.min.js"></script>
        <script src="~/Content/Admin_content/assets/node_modules/Chart.js/chartjs.init.js"></script>
        <link href="~/Content/Admin_content/assets/node_modules/chartist-js/dist/chartist.min.css" rel="stylesheet">
        <link href="~/Content/Admin_content/assets/node_modules/chartist-js/dist/chartist-init.css" rel="stylesheet">
        <link href="~/Content/Admin_content/assets/node_modules/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
        <script src="~/Content/Admin_content/assets/node_modules/chartist-js/dist/chartist.min.js"></script>
        <script src="~/Content/Admin_content/assets/node_modules/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
        <script src="~/Content/Admin_content/assets/node_modules/chartist-js/dist/chartist-init.js"></script>

    }


    <div class="page-wrapper" ng-controller="TestCtrl">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor"> ShareHolders List</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Share Information</a></li>
                            <li class="breadcrumb-item active">Share Information</li>
                        </ol>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Share Holder's Panel</h4>
                            <hr />
                            <h6 class="card-subtitle"></h6>
                            @*ye guages hain*@
                            <div class="row">
                                <div class="col-lg-2 col-md-2"></div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="text-center">Total Shares</h4>
                                            <div class="gaugejs-box">
                                                <canvas id="foo3" class="gaugejs">guage</canvas>
                                            </div>
                                        </div>
                                        <div class="box b-t text-center">
                                            <h4 class="font-medium m-b-0">100</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="text-center">Sold Shares</h4>
                                            <div class="gaugejs-box">
                                                <canvas id="foo76" class="gaugejs">guage</canvas>
                                            </div>
                                        </div>
                                        <div class="box b-t text-center">
                                            <h4 class="font-medium m-b-0">@used</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2"></div>
                            </div>

                            @*ye share prices show karnay ke liye graph hai*@
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Latest Share Prices</h4>
                                        <div id="morris-donut-chart"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row m-t-40">
                                                <!-- Column -->
                                                <div class="col-md-4 col-lg-4 col-xlg-3">
                                                    <div class="card">
                                                        <div class="box bg-warning text-center">
                                                            <h1 class="font-light text-white">@yourshares</h1>
                                                            <h6 class="text-white">Share Value</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Column -->
                                                <div class="col-md-4 col-lg-4 col-xlg-3">
                                                    <div class="card">
                                                        <div class="box bg-dark text-center">
                                                            <h1 class="font-light text-white">@purchaseamount</h1>
                                                            <h6 class="text-white">Purchase Amount</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Column -->
                                                <div class="col-md-4 col-lg-4 col-xlg-3">
                                                    <div class="card">
                                                        <div class="box bg-warning text-center">
                                                            <h1 class="font-light text-white">@actual_amount</h1>
                                                            <h6 class="text-white">Latest Price</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Column -->
                                                @*<div class="col-md-6 col-lg-3 col-xlg-3">
                                                        <div class="card">
                                                            <div class="box bg-info text-center">
                                                                <h1 class="font-light text-white"></h1>
                                                                <h6 class="text-white">Remaining Shares</h6>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <!-- Column -->
                                                @*<div class="col-md-6 col-lg-3 col-xlg-3">
                                                        <div class="card">
                                                            <div class="box bg-danger text-center">
                                                                <h1 class="font-light text-white"></h1>
                                                                <h6 class="text-white">Your Shares</h6>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <!-- Column -->
                                                @*<div class="col-md-6 col-lg-3 col-xlg-3">
                                                        <div class="card">
                                                            <div class="box bg-info text-center">
                                                                <h1 class="font-light text-white"></h1>
                                                                <h6 class="text-white">Your Shares</h6>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <!-- Column -->
                                                @*<div class="col-md-6 col-lg-3 col-xlg-3">
                                                            <div class="card">
                                                                <div class="box bg-danger text-center">
                                                                    <h1 class="font-light text-white">c</h1>
                                                                    <h6 class="text-white">1% Share Value</h6>
                                                                </div>
                                                            </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Column -->
                                    @*ye graphs hain*@
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex m-b-40 align-items-center no-block">
                                                        <h5 class="card-title ">Share Worth</h5>
                                                        <div class="ml-auto">
                                                            <ul class="list-inline font-12">
                                                                <li><i class="fa fa-circle text-cyan" style="font-size:25px;"> 0.1 %</i> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="morris-area-chart1" style="height: 340px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex m-b-40 align-items-center no-block">
                                                        <h5 class="card-title ">Share Worth</h5>
                                                        <div class="ml-auto">
                                                            <ul class="list-inline font-12">
                                                                <li><i class="fa fa-circle text-primary" style="font-size:25px;"> 0.5 %</i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="morris-area-chart25" style="height: 340px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex m-b-40 align-items-center no-block">
                                                        <h5 class="card-title ">Share Worth</h5>
                                                        <div class="ml-auto">
                                                            <ul class="list-inline font-12">
                                                                <li><i class="fa fa-circle text-purple" style="font-size:25px;">1.0 %</i> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div id="morris-area-chart3" style="height: 340px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Animation Chart</h4>
                                                    <div class="ct-animation-chart" style="height: 400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>









                                    @*@*yahan se pie chart start hai*@
                                    @*<div class="row">
                                            <div class="col-lg-2 col-md-2"></div>
                                            <div class="col-lg-8 col-md-8">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Shares Stat</h4>
                                                        <div>
                                                            <canvas id="chart3" height="150"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2"></div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "0.1% Share",
            value: @on_actual_amount,

        }, {
            label: "0.5% Share",
            value: @fi_actual_amount
            }, {
                label: "1.0% Share",
                value: @te_actual_amount
                }],
        resize: true,
        colors: ['#000000', '#0000FF', '#FFD700']
    });

        </script>

        <script>
        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.42, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.64, // // Relative to gauge radius
                strokeWidth: 0.04, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
            limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
            colorStart: '#FF0000',   // Colors
            colorStop: '#FF0000',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true     // High resolution support
        };
        var target = document.getElementById('foo3'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 45; // set animation speed (32 is default value)
        gauge.set(100); // set actual value

        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.42, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.64, // // Relative to gauge radius
                strokeWidth: 0.04, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
            limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
            colorStart: '#00FF00',   // Colors
            colorStop: '#00FF00',    // just experiment with them #FF0000
            strokeColor: '#FF0000',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true     // High resolution support
        };
        var target = document.getElementById('foo76'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 60; // set animation speed (32 is default value)
        gauge.set(@used); // set actual value


        </script>

        @*<script src="~/Content/Admin_content/assets/node_modules/raphael/raphael-min.js"></script>
            <script src="~/Content/Admin_content/assets/node_modules/morrisjs/morris.min.js"></script>
            <script src="~/Content/Admin_content/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
                <script src="~/Content/Admin_content/dist/js/dashboard1.js"></script>*@
        <script src="~/Angular/Services/Graph.js"></script>


    }

    }
    else
    {

        <script>
            window.location = "/Home/Index";
        </script>
    }
} 


   
   