﻿
@{
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";

    ViewBag.Title = "About";
}



<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">About</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>


<main id="content" class="main-content-wrapper">

    <!-- Start of About US Section -->
    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>About Us</h2>
                        </div>
                        <h3>Hello welcome to the Azam Market </h3>
                        <p>We provide a single platform for the cloth shopkeepers to put their fine quality cloth products and show their online presence.</p>
                        <p>The reason behind of this idea is that it’s difficult for customers to find all the fine quality cloth products in a one place so its our main goal to provide an extraordinary place for our customers and owners as well.</p>
                        <p>We look forward for the bright future and struggle to keep our goal. It’s our vision to promote the Pakistani brand around the world. Join us in this good deed.</p>
                        
                    </div>
                </div>
            </div> <!-- end of row -->
        </div>
    </section>
    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>E-commerce Site</h2>
                        </div>
                        <ol type="Disc">
                            <li>Show your online presence through our ecommerce site</li>
                            <li>Promote your cloth products around the world</li>
                            <li>Make it easy for customers to contact you </li>
                            <li>Promote your Pakistani brand by take part in ecommerce strategy</li>
                        </ol>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div>
    </section>

    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>Management System</h2>
                        </div>
                        <ol type="square">
                            <li>Make your cloth business fast through our management system</li>
                            <li>get rid of manual work</li>
                            <li>maintain your stock system</li>
                            <li>safety of your data</li>
                        </ol>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div>
    </section>
</main>