﻿@model MegaProject.Models.Contact
@using MegaProject.Models

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
    ViewBag.Contact = "Active";
}
<!-- Bread Crumb STRAT -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">Contact Us</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<!-- End of Breadcrumbs -->
<!-- Start of Main Content Wrapper -->
<main id="content" class="main-content-wrapper page-about">

    <!-- Start of Contact Section -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div id="map_location" class="map-location">
                        <div id="map">
                            <div id="gmap-wrap">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13596.327548635547!2d74.3783936041992!3d31.576802239893155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbc3229c64a0a2!2sDigicon+Valley!5e0!3m2!1sen!2s!4v1537950497754" width="452" height="570" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div> <!-- end of #map -->
                    </div> <!-- end of #map_location -->
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="contact-form-wrapper">
                        <div class="section-title left-aligned with-border">
                            <h2>get In Touch</h2>
                        </div>
@using (Html.BeginForm("Contact_us", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                        @*<form id="contact-form" action="~/Home/Contact" method="post">*@
                            <div class="form-row mb-2">
                                <div class="form-group col-12 col-sm-12 col-md-6">
                                    <input type="text" name="contact_Name" class="form-control"  placeholder="Your Name *" required>
                                </div>
                                <div class="form-group col-12 col-sm-12 col-md-6">
                                    <input type="email" name="Contact_Email" class="form-control"  placeholder="Your Email *" required>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="form-group col-12 col-sm-12 col-md-12">
                                    <input type="text" name="Contact_Subject" class="form-control"  placeholder="Your Subject">
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="form-group col-12 col-sm-12 col-md-12">
                                    <textarea  placeholder="Type Your Message....." name="Contact_Message" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <button name="Contact_us" type="submit" class="btn btn-secondary">Send Your Message</button>
                                </div>
                            </div>
                        @*</form>*@
}
                    </div> <!-- end of contact-form-wrapper -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <!-- End of Contact Section -->
    <!-- Start of Team Section -->
    <section class="team-section pt-full pb-half bgc-offset">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="info-box">
                        <div class="info-icon">
                            <i class="ion ion-md-locate"></i>
                        </div>
                        <div class="info-content">
                            <h4>Our Location</h4>
                            <p>17/B Angori Scheme # 2 Shalamar link road</p>
                            <p>Lahore</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="info-box">
                        <div class="info-icon">
                            <i class="ion ion-ios-call"></i>
                        </div>
                        <div class="info-content">
                            <h4>Contact Us Anytime</h4>
                            <p>Mobile: 0322-4222913<a href="tel:03224222913"></a></p>
                            <br /><br />
                            @*<p>Fax: </p>*@
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="info-box">
                        <div class="info-icon">
                            <i class="ion ion-md-mail-open"></i>
                        </div>
                        <div class="info-content">
                            <h4>Contact Us</h4>
                          
                            <p><a href="mailto:info@azam-market.com">Info@azam-market.com</a></p>
                            <br/>
                            <br />
                        </div>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <!-- End of Team Section -->
    <!-- Start of Client Section -->
    <div class="client-section mb-full">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="client-carousel">

                        <!-- Slides -->
                        <div class="swiper-wrapper">
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-1.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-2.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-3.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-4.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-5.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-6.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-7.jpg" alt="Client Logo">
                            </div>
                            <div class="item-brand swiper-slide">
                                <img src="~/Content/Site_content/assets/images/brand/client-logo-8.jpg" alt="Client Logo">
                            </div>
                        </div>
                    </div> <!-- end of client-carousel -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Client Section -->
</main>


@section Scripts{


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzcEM8z2_imGO8TMRmJEpDEahvZ7KYY_U"></script>
<script src="~/Content/Site_content/assets/js/gmaps.min.js"></script>
<script src="~/Content/Site_content/assets/js/custom-map.js"></script>
    }