﻿@using MegaProject.Models
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var x = DateTime.Now.ToShortDateString();

    int totalvisit = 0;
     totalvisit = db.Counts_model.Sum(m => m.count);
    if(totalvisit == null)
    {
        totalvisit = 0;
    }
    var todayv = db.Counts_model.Where(m => m.count_date == x).Sum(b => (int?)b.count);
    if (todayv == null)
    {
        todayv = 0;
    }
    var result = db.Counts_model.Select(m => m.visiter_ip).Distinct();
    var unique_visitor = result.Count();
    var result1 = db.Counts_model.Where(a => a.count_date == x).Select(m => m.visiter_ip).Distinct();
    var today_unique_visitor = result1.Count();


}
   
    

@section Css{
<link href="~/Content/Admin_content/dist/css/pages/dashboard4.css" rel="stylesheet">
<link href="~/Content/Admin_content/dist/css/style.min.css" rel="stylesheet">
    }

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
       
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Total Visitor </h4>
                        <div class="gaugejs-box">
                            <canvas id="foo" class="gaugejs">guage</canvas>
                        </div>
                    </div>
                    <div class="box b-t text-center">
                        <h4 class="font-medium m-b-0">@totalvisit</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Today Visit</h4>
                        <div class="gaugejs-box">
                            <canvas id="foo2" class="gaugejs">guage</canvas>
                        </div>
                    </div>
                    <div class="box b-t text-center">
                        <h4 class="font-medium m-b-0">@todayv</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Total Unique Visitor </h4>
                        <div class="gaugejs-box">
                            <canvas id="foo3" class="gaugejs">guage</canvas>
                        </div>
                    </div>
                    <div class="box b-t text-center">
                        <h4 class="font-medium m-b-0">@unique_visitor</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Today Unique Visitor </h4>
                        <div class="gaugejs-box">
                            <canvas id="foo4" class="gaugejs">guage</canvas>
                        </div>
                    </div>
                    <div class="box b-t text-center">
                        <h4 class="font-medium m-b-0">@today_unique_visitor</h4>
                    </div>
                </div>
            </div>
        

   
            <!-- Column -->
        </div>


        <div class="card-columns widget-app-columns">
        
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Users</h4>
                        <select class="custom-select w-25 ml-auto">
                            <option value="DataEntry">Data Entry</option>
                        </select>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table class="table stylish-table">
                            <thead>
                                <tr>
                                    <th >UserName</th>
                                    <th>Name</th>
                                    <th>Password</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                        @{
                                            List<ApplicationUser> prt = db.Users.Where(sa=> sa.UserType== "DataEntry").ToList();
                                          
                                        }
                                @foreach (var item in prt)
                                {
                                    <tr>
                                       
                                        <td>
                                           @item.UserName

                                        </td>
                                        <td>@item.Name</td>
                                        <td>
                                            @item.SavedPassword
                                        </td>

                                    </tr>
                                }
                              
                               
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
            <!-- ============================================================== -->
            <!-- End Info box -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->

        </div>
    </div>
@section Scripts{
<script src="~/Content/Admin_content/assets/node_modules/gauge/gauge.min.js"></script>
    <script>
       
	    var opts = {
          angle: 0, // The span of the gauge arc
          lineWidth: 0.42, // The line thickness
          radiusScale: 1, // Relative radius
          pointer: {
            length: 0.64, // // Relative to gauge radius
            strokeWidth: 0.04, // The thickness
            color: '#000000' // Fill color
          },
          limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
          limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
          colorStart: '#009efb',   // Colors
          colorStop: '#009efb',    // just experiment with them
          strokeColor: '#E0E0E0',  // to see which ones work best for you
          generateGradient: true,
          highDpiSupport: true     // High resolution support
        };
    var target = document.getElementById('foo'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 300; // set max gauge value
    gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
    gauge.animationSpeed = 283; // set animation speed (32 is default value)
    gauge.set(@totalvisit); // set actual value

        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.42, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.64, // // Relative to gauge radius
                strokeWidth: 0.04, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
            limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
            colorStart: '#009efb',   // Colors
            colorStop: '#009efb',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true     // High resolution support
        };
        var target = document.getElementById('foo2'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 300; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 283; // set animation speed (32 is default value)
        gauge.set(@todayv); // set actual value 



        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.42, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.64, // // Relative to gauge radius
                strokeWidth: 0.04, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
            limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
            colorStart: '#f62d51',   // Colors
            colorStop: '#f62d51',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true     // High resolution support
        };
        var target = document.getElementById('foo3'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 300; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 283; // set animation speed (32 is default value)
        gauge.set(@unique_visitor); // set actual value 


        var opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.42, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.64, // // Relative to gauge radius
                strokeWidth: 0.04, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, the max value of the gauge will be updated if value surpass max
            limitMin: false,     // If true, the min value of the gauge will be fixed unless you set it manually
            colorStart: '#26c6da',   // Colors
            colorStop: '#26c6da',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true     // High resolution support
        };
        var target = document.getElementById('foo4'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 300; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 283; // set animation speed (32 is default value)
        gauge.set(@today_unique_visitor); // set actual value   


</script>
<script src="~/Content/Admin_content/assets/node_modules/skycons/skycons.js"></script>
<script src="~/Content/Admin_content/dist/js/dashboard4.js"></script>
    }
