﻿
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">FAQs</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>


<!-- Start of Main Content Wrapper -->
<main id="content" class="main-content-wrapper">

    <!-- Start of About US Section -->
    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>Welcome To Azam Market FAQs!</h2>
                        </div>
                        <p>Ororus Shop is a premium HTML template designed and develoved from the ground up with the sole purpose of helping you create an astonishing, the beautiful and user friendly website that will boost your product’s sales.</p>
                        <p>The theme design package provides a complete Magento theme set for your online store according to your desired theme. This includes all Magento themes that are required for your online store's successful implementation.</p>
                    </div>
                </div>
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-area">
                        <div class="faqs-accordion" id="faqs_accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Is Clothing Shop Online a secure site?</button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqs_accordion">
                                    <div class="card-body">
                                        <p>We ensure high security in our website,  because only those members are being included who own their physical shops in Azam Market</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> How do I return my order?</button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqs_accordion">
                                    <div class="card-body">
                                        <p>By being directly connected to the shop owner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can I exchange my order?</button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqs_accordion">
                                    <div class="card-body">
                                        <p>Yes, there is also an exchange option by which you can directly connect with shop owner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How long will it take me to get my order?</button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqs_accordion">
                                    <div class="card-body">
                                        <p>It depends upon the required product according to the quantity and quality</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I open a shop here even if I am not a member in Azam market?</button>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqs_accordion">
                                    <div class="card-body">
                                        <p>Sorry! It violates our term and conditions so, you cannot open a shop here until you have physical shop in Azam Market.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> <!-- end of faqs-area -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <!-- End of About US Section -->
    <!-- Start of Newsletter Section -->
    <!-- End of Newsletter Section -->
</main>
<!-- End of Main Content Wrapper -->
