﻿@using MegaProject.Models

@{
    ViewBag.Title = "Azam Market";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var ret = MegaProject.Models.HardCodeTypes.shop_requset_types.Retail;
    var who = MegaProject.Models.HardCodeTypes.shop_requset_types.WholeSale;
}

@section Css{
<link rel="stylesheet" type="text/css" href="~/Content/Site_content/slick/slick.css">
<link rel="stylesheet" type="text/css" href="~/Content/Site_content/slick/slick-theme.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
    }




<!-- Start of Newsletter Popup -->
@if (Session["Message"] != null)
{
 <div id="responsive-modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                @if (Session["Message"] == "success")
                {
                <div class="modal-body">
                    <h4 class="modal-title" style="color:green"> Your shop is submitted successfully </h4>

                </div>
                }
                @if (Session["Message"] == "Error")
                {
                    <div class="modal-body">
                        <h4 class="modal-title" style="color:green"> Please Fill the again member form </h4>

                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}
@{   Session["Message"] = null; }
<!-- End of Newsletter Popup -->
<!-- Start of Primary Slider Section -->
<section class="primary-slider-section mb0 mt-half">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div id="primary_slider" class="swiper-container slider-type-2">

                    <!-- Slides -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide bg-img-wrapper">
                            <div class="slide-inner image-placeholder">
                                <img src="~/Content/banners/Home banner/Business-M.jpg" class="" alt="Slider Image">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="slide-content layer-animation-1">
                                                <h1>Kz-es3</h1>
                                                <h2>Bluetooth Headphone</h2>
                                                <p><span>At a price</span><span class="primary-color">$199</span></p>
                                                <div class="slide-button">
                                                    <a class="default-btn transparent" href="shop-grid.html" title="Shop Now">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide bg-img-wrapper">
                            <div class="slide-inner image-placeholder">
                                <img src="~/Content/banners/Home banner/Website-Banner.jpg" class="" alt="Slider Image">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="slide-content layer-animation-2">
                                                <h1>Amazing iPhone Amazing price</h1>
                                                <p><span>Enjoy up to <span class="primary-color">RM300</span> savings &amp; additional 1 year warranty when you get<span class="primary-color">iPhone X</span> or <span class="primary-color">iPhone 8</span></span></p>
                                                <div class="slide-button">
                                                    <a class="default-btn transparent" href="shop-grid.html" title="Shop Now">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Navigation -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-5 top-promo-banners">
                <div class="promo-banner hover-effect-1">
                    <a href="#">
                        <img src="~/Content/banners/Home banner/Blog-banner.jpg" alt="Promo Banner">
                    </a>
                </div>
                <div class="promo-banner hover-effect-1">
                    <a href="#">
                        <img src="~/Content/banners/Home banner/Auction-Website-banner.jpg" alt="Promo Banner">
                    </a>
                </div>
                <div class="row">
                    <div class="col-6 col-6 col-sm-6 col-sm-6">
                        <div class="promo-banner hover-effect-1 mb0">
                            <a href="#">
                                <img src="~/Content/banners/Home banner/Pharmacist-banner.jpg" alt="Promo Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-6 col-sm-6 col-sm-6">
                        <div class="promo-banner hover-effect-1 mb0">
                            <a href="#">
                                <img src="~/Content/banners/Home banner/teacher-P-banner.jpg" alt="Promo Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Primary Slider Section -->

<main id="content" class="main-content-wrapper">

    <style>
        

        

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        
        

        
       

        
    </style>

    <!-- Start of Support Section -->
    <section class="support-section mb-half mt-half">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="feature-box type-2 media align-items-center">
                        <div class="feature-icon mr-4 mr-md-3 mr-lg-4"><a href="#" style="text-align: center;   text-decoration: none;   margin: 5px 2px;  padding: 15px;  font-size: 30px;   height:60px;  opacity: 0.7;  width: 60px; border-radius: 50%;" class="fa fa-facebook"></a></div>
                        <div class="feature-content media-body">
                            <h2>Follow Us</h2>
                            <p>We Follow you</p>
                        </div>
                    </div> <!-- end of feaure-box -->
                </div>
                <style>
                

                

            
                    .fa-google {
                        background: #dd4b39;
                        color: white;
                    }
                    </style>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="feature-box type-2 media align-items-center">
                        <div class="feature-icon mr-4 mr-md-3 mr-lg-4"><a href="#" style="text-align: center;   text-decoration: none;   margin: 5px 2px;  padding: 15px;  font-size: 30px;   height:60px;  opacity: 0.7;  width: 60px; border-radius: 50%;" class="fa fa-google"></a></div>
                        <div class="feature-content media-body">
                            <h2>limited Offers</h2>
                            <p>Catch us </p>
                        </div>
                    </div> <!-- end of feaure-box -->
                </div>
                <style>
                   
                    .fa-address-card {
                        background: #FF8800;
                        color: white;
                    }
                </style>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="feature-box type-2 media align-items-center">
                        <div class="feature-icon mr-4 mr-md-3 mr-lg-4"><a href="#" style="text-align: center;   text-decoration: none;   margin: 5px 2px;  padding: 13px;  font-size: 30px;   height:60px;  opacity: 0.7;  width: 60px; border-radius: 50%;" class="fa fa-address-card"></a></div>
                        <div class="feature-content media-body">
                            <h2>Info@azam-market.com</h2>
                            <p>Free Support!</p>
                        </div>
                    </div> <!-- end of feaure-box -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Support Section -->
    <!-- Start of Daily Deals Section -->
    <section class="daily-deals mb-half">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="section-title left-aligned with-border with-icon">
                        <h2><i class="fas fa-store"></i>Top Stores</h2>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="daily-deals-products pos-r">
                        <div class="product-carousel" data-visible-slide="4" data-visible-lg-slide="3" data-space-between="10" data-loop="false" data-speed="1000">

                            <!-- Slides -->
                            <div class="swiper-wrapper regular">
                                @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Take(7))
                                {
                                    <div class="swiper-slide product-layout product-grid">
                                        <div class="product-thumb">
                                            <div class="product-inner with-bottom-padding">
                                                <div class="product-image">

                                                    <a href="~/Stores/Details?id=@item.StoreId">
                                                        <img src="~/Content/images/@item.StoreLogo" height="270" width="270" alt="Proin Lectus Ipsum" class="hover-image">
                                                        <img src="~/Content/images/@item.StoreLogo" height="270" width="270" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                        @*<img    src="~/Content/images/@item.StoreLogo"   alt="Proin Lectus Ipsum" class="hover-image"  >
                                                            <img    src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">*@
                                                    </a>
                                                    @*<div class="action-links">
                                                            <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                            <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                            <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                            <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                        </div>*@
                                                    @*<div class="countdown-wrapper">
                                                            <div class="countdown-timer" data-countdown-year="2019" data-countdown-month="7" data-countdown-day="10"></div>
                                                        </div>*@
                                                </div> <!-- end of product-image -->

                                                <div class="product-caption">
                                                    <div class="product-ratings">
                                                        @*<div class="rating-box">
                                                                <ul class="rating d-flex">
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                </ul>
                                                            </div>*@
                                                    </div>
                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                        <p class="product-price">

                                                            <span class="price-new">@item.StoreName</span>

                                                            @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                        </p>
                                                    </a>

                                                </div><!-- end of product-caption -->
                                            </div><!-- end of product-inner -->
                                        </div><!-- end of product-thumb -->
                                    </div> <!-- end of product-layout -->
                                }

                            </div> <!-- end of swiper-wrapper -->
                            <!-- Navigation -->
                            
                        </div> <!-- end of product-carousel -->
                    </div> <!-- end of daily-deals-products -->
                </div>
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="promo-banner hover-effect-1 mt-half">
                        <a href="#">
                            <img src="~/Content/banners/Home banner/online.png" height="150" width="1170" alt="Promo Banner">
                        </a>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <!--End of Daily Deals Section -->
    <!-- Start of second Primary Slider Section -->
    @*<section class="primary-slider-section mb0 mt-half">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 top-promo-banners">
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-7.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-8.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 top-promo-banners">
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-7.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-8.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!-- End of second Primary Slider Section -->
    <!-- Start of Featured Category -->
    <br />
    <section class="feature-category mb-half">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="section-title left-aligned with-border with-icon">
                        <h2><i class="fas fa-store-alt"></i> Stores </h2>
                    </div>
                </div>
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="featured-category-wrapper pos-r">
                        <div class="categories-carousel product-carousel" data-visible-slide="3" data-loop="false" data-speed="1000">

                            <!-- Slides -->
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    @foreach (var item2 in db.Stores.OrderBy(s => s.StoreDate).Skip(7).Take(2))
                                    {
                                <div class="single-category-2 media align-items-center">
                                    <div class="media-image mr-xl-3">
                                        <a href="~/Stores/Details?id=@item2.StoreId"><img height="170" width="170" src="~/Content/images/@item2.StoreLogo" alt="Category Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h2><a href="~/Stores/Details?id=@item2.StoreId">@item2.StoreName</h2>
                                        <ul class="sub-featured-categories list-unstyled">
                                            <li>@item2.StoreOwnerName</li>
                                            <li>@item2.StoreOwnerNumber</li>

                                        </ul>
                                        @*<a href="#" class="view-more">See More</a>*@
                                    </div>
                                </div> <!-- end of single-category -->
                                    }
                                </div> <!-- end of swiper-slide -->


                                <div class="swiper-slide">
                                    @foreach (var item2 in db.Stores.OrderBy(s => s.StoreDate).Skip(9).Take(2))
                                    {
                                <div class="single-category-2 media align-items-center">
                                    <div class="media-image mr-xl-3">
                                        <a href="~/Stores/Details?id=@item2.StoreId"><img height="170" width="170" src="~/Content/images/@item2.StoreLogo" alt="Category Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h2><a href="~/Stores/Details?id=@item2.StoreId">@item2.StoreName</h2>
                                        <ul class="sub-featured-categories list-unstyled">
                                            <li>@item2.StoreOwnerName</li>
                                            <li>@item2.StoreOwnerNumber</li>

                                        </ul>
                                        @*<a href="#" class="view-more">See More</a>*@
                                    </div>
                                </div> <!-- end of single-category -->
                                    }
                                </div> <!-- end of swiper-slide -->

                                <div class="swiper-slide">
                                    @foreach (var item2 in db.Stores.OrderBy(s => s.StoreDate).Skip(11).Take(2))
                                    {
                                <div class="single-category-2 media align-items-center">
                                    <div class="media-image mr-xl-3">
                                        <a href="~/Stores/Details?id=@item2.StoreId"><img height="170" width="170" src="~/Content/images/@item2.StoreLogo" alt="Category Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h2><a href="~/Stores/Details?id=@item2.StoreId">@item2.StoreName</h2>
                                        <ul class="sub-featured-categories list-unstyled">
                                            <li>@item2.StoreOwnerName</li>
                                            <li>@item2.StoreOwnerNumber</li>

                                        </ul>
                                        @*<a href="#" class="view-more">See More</a>*@
                                    </div>
                                </div> <!-- end of single-category -->
                                    }
                                </div> <!-- end of swiper-slide -->

                                <div class="swiper-slide">
                                    @foreach (var item2 in db.Stores.OrderBy(s => s.StoreDate).Skip(13).Take(2))
                                    {

                                <div class="single-category-2 media align-items-center">
                                    <div class="media-image mr-xl-3">
                                        <a href="~/Stores/Details?id=@item2.StoreId"><img height="170" width="170" src="~/Content/images/@item2.StoreLogo" alt="Category Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h2><a href="~/Stores/Details?id=@item2.StoreId">@item2.StoreName</h2>
                                        <ul class="sub-featured-categories list-unstyled">
                                            <li>@item2.StoreOwnerName</li>
                                            <li>@item2.StoreOwnerNumber</li>

                                        </ul>
                                        @*<a href="#" class="view-more">See More</a>*@
                                    </div>
                                </div> <!-- end of single-category -->
                                    }
                                </div> <!-- end of swiper-slide -->

                            </div> <!-- end of swiper-wrapper -->
                            <!-- Navigation -->
                            <div class="swiper-arrow top-nav next"><i class="fa fa-angle-right"></i></div>
                            <div class="swiper-arrow top-nav prev"><i class="fa fa-angle-left"></i></div>
                        </div> <!-- end of categories-carousel -->
                    </div> <!-- end of featured-category-wrapper -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <!-- End of Featured Category -->
    <!-- Start of second Primary Slider Section -->
    <section class="primary-slider-section mb0 mt-half">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 top-promo-banners">
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-7.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="promo-banner hover-effect-1">
                        <div class="row">
                            <div class="col-6 col-6 col-sm-6 col-sm-6">
                                <div class="promo-banner hover-effect-1 mb0">
                                    <a href="#">
                                        <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-6 col-sm-6 col-sm-6">
                                <div class="promo-banner hover-effect-1 mb0">
                                    <a href="#">
                                        <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 top-promo-banners">
                    <div class="promo-banner hover-effect-1">
                        <a href="#">
                            <img src="~/Content/Site_content/assets/images/banners/banner-7.jpg" alt="Promo Banner">
                        </a>
                    </div>
                    <div class="promo-banner hover-effect-1">
                        <div class="row">
                            <div class="col-6 col-6 col-sm-6 col-sm-6">
                                <div class="promo-banner hover-effect-1 mb0">
                                    <a href="#">
                                        <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-6 col-sm-6 col-sm-6">
                                <div class="promo-banner hover-effect-1 mb0">
                                    <a href="#">
                                        <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-3.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-6 col-sm-6 col-sm-6">
                            <div class="promo-banner hover-effect-1 mb0">
                                <a href="#">
                                    <img src="~/Content/Site_content/assets/images/banners/banner-9.jpg" alt="Promo Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End of second Primary Slider Section -->
    <!-- Start of Best Selling Section -->
    <br />
    <section class="best-selling-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="section-title left-aligned with-border with-icon">
                        <h2><i class="fas fa-archive"> Stores </i> </h2>
                    </div>
                </div>
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="best-selling-wrapper pos-r">

                        <!-- Nav Pills -->
                        @*<ul class="nav nav-pills top-nav-pills mb-4 justify-content-center" id="best_products" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav_cellphone" data-toggle="pill" href="#category_cellphone" role="tab" aria-controls="category_cellphone" aria-selected="true">Cell Phones</a>
                                </li>
                                @*<li class="nav-item">
                                    <a class="nav-link" id="nav_carrier_phone" data-toggle="pill" href="#category_carrier_phones" role="tab" aria-controls="category_carrier_phones" aria-selected="false">Carrier Cell Phones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav_phone_cases" data-toggle="pill" href="#category_phone_cases" role="tab" aria-controls="category_phone_cases" aria-selected="false">Cell Phone Cases</a>
                                </li>
                            </ul>  end of nav*@
                        <!-- Tab Contents -->
                        <div class="tab-content" id="best_products_contents">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav_cellphone">
                                <div class="product-carousel" data-visible-slide="5" data-visible-lg-slide="3" data-loop="true" data-speed="1000">

                                    <!-- Slides -->
                                    <div class="swiper-wrapper carousel">
                                        <div class="swiper-slide">
                                            @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Skip(15).Take(2))
                                            {
                                                <div class="product-layout product-grid">
                                                    <div class="product-thumb">
                                                        <div class="product-inner with-bottom-padding">
                                                            <div class="product-image">
                                                                @*<div class="label-product label-sale">-44%</div>*@
                                                                <a href="~/Stores/Details?id=@item.StoreId">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                </a>
                                                                @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                            </div> <!-- end of product-image -->

                                                            <div class="product-caption">
                                                                @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@


                                                                <p class="product-price">
                                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                                        <span class="price-new">@item.StoreName</span>
                                                                    </a>
                                                                    @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                                </p>
                                                            </div><!-- end of product-caption -->
                                                        </div><!-- end of product-inner -->
                                                    </div><!-- end of product-thumb -->
                                                </div> <!-- end of product-layout -->
                                            }
                                        </div> <!-- end of swiper-slide -->

                                        <div class="swiper-slide">
                                            @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Skip(17).Take(2))
                                            {
                                                <div class="product-layout product-grid">
                                                    <div class="product-thumb">
                                                        <div class="product-inner with-bottom-padding">
                                                            <div class="product-image">
                                                                @*<div class="label-product label-sale">-44%</div>*@
                                                                <a href="~/Stores/Details?id=@item.StoreId">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                </a>
                                                                @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                            </div> <!-- end of product-image -->

                                                            <div class="product-caption">
                                                                @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@


                                                                <p class="product-price">
                                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                                        <span class="price-new">@item.StoreName</span>
                                                                    </a>
                                                                    @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                                </p>
                                                            </div><!-- end of product-caption -->
                                                        </div><!-- end of product-inner -->
                                                    </div><!-- end of product-thumb -->
                                                </div> <!-- end of product-layout -->
                                            }

                                        </div> <!-- end of swiper-slide -->

                                        <div class="swiper-slide">
                                            @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Skip(19).Take(2))
                                            {
                                                <div class="product-layout product-grid">
                                                    <div class="product-thumb">
                                                        <div class="product-inner with-bottom-padding">
                                                            <div class="product-image">
                                                                <a href="~/Stores/Details?id=@item.StoreId">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                </a>
                                                                @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                            </div> <!-- end of product-image -->

                                                            <div class="product-caption">
                                                                @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@


                                                                <p class="product-price">
                                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                                        <span class="price-new">@item.StoreName</span>
                                                                    </a>
                                                                    @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                                </p>
                                                            </div><!-- end of product-caption -->
                                                        </div><!-- end of product-inner -->
                                                    </div><!-- end of product-thumb -->
                                                </div> <!-- end of product-layout -->

                                            }
                                        </div> <!-- end of swiper-slide -->

                                        <div class="swiper-slide">
                                            @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Skip(21).Take(2))
                                            {
                                                <div class="product-layout product-grid">
                                                    <div class="product-thumb">
                                                        <div class="product-inner with-bottom-padding">
                                                            <div class="product-image">
                                                                @*<div class="label-product label-new">New</div>*@
                                                                <a href="~/Stores/Details?id=@item.StoreId">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                </a>
                                                                @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                            </div> <!-- end of product-image -->

                                                            <div class="product-caption">
                                                                @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@


                                                                <p class="product-price">
                                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                                        <span class="price-new">@item.StoreName</span>
                                                                    </a>
                                                                    @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                                </p>
                                                            </div><!-- end of product-caption -->
                                                        </div><!-- end of product-inner -->
                                                    </div><!-- end of product-thumb -->
                                                </div> <!-- end of product-layout -->
                                            }
                                        </div> <!-- end of swiper-slide -->

                                        <div class="swiper-slide">
                                            @foreach (var item in db.Stores.OrderBy(s => s.StoreDate).Skip(23).Take(2))
                                            {
                                                <div class="product-layout product-grid">
                                                    <div class="product-thumb">
                                                        <div class="product-inner with-bottom-padding">
                                                            <div class="product-image">
                                                                @*<div class="label-product label-sale">-44%</div>*@
                                                                <a href="~/Stores/Details?id=@item.StoreId">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                    <img height="198" width="198" src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                </a>
                                                                @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                            </div> <!-- end of product-image -->

                                                            <div class="product-caption">
                                                                @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@


                                                                <p class="product-price">
                                                                    <a herf="~/Stores/Details?id=@item.StoreId">
                                                                        <span class="price-new">@item.StoreName</span>
                                                                    </a>
                                                                    @*<span class="price-new">@item.StoreOwnerName</span>*@
                                                                </p>
                                                            </div><!-- end of product-caption -->
                                                        </div><!-- end of product-inner -->
                                                    </div><!-- end of product-thumb -->
                                                </div> <!-- end of product-layout -->
                                            } <!-- end of product-layout -->
                                        </div> <!-- end of swiper-slide -->
                                    </div> <!-- end of swiper-wrapper -->

                                    <div class="swiper-arrow top-nav next"><i class="fa fa-angle-right"></i></div>
                                    <div class="swiper-arrow top-nav prev"><i class="fa fa-angle-left"></i></div>
                                </div> <!-- end of product-carousel -->
                            </div> <!-- end of tab-pane -->


                        </div> <!-- end of tab-content -->
                    </div> <!-- end of best-selling-wrapper -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>
    <section class="daily-deals mb-half">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="promo-banner hover-effect-1 mt-half">
                        <a href="#">
                            <img src="~/Content/banners/Home banner/marketing software.png" height="150" width="1170" alt="Promo Banner">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- end of row -->
            <!-- End of Best Selling Section -->
            <!-- Start of Client Section  banner wala slider client name  -->
            <div class="client-section mb-full">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="client-carousel">

                                <!-- Slides -->
                                <div class="swiper-wrapper">
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-1.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-2.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-3.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-4.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-5.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-6.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-7.jpg" alt="Client Logo">
                                    </div>
                                    <div class="item-brand swiper-slide">
                                        <img src="~/Content/Site_content/assets/images/brand/client-logo-8.jpg" alt="Client Logo">
                                    </div>
                                </div>
                            </div> <!-- end of client-carousel -->
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>
            <!-- End of Client Section -->


            <style>
                /* The container */
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 15px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    /* Hide the browser's default radio button */
                    .container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    border-radius: 50%;
                }

                /* On mouse-over, add a grey background color */
                .container:hover input ~ .checkmark {
                    background-color: #ccc;
                }

                /* When the radio button is checked, add a blue background */
                .container input:checked ~ .checkmark {
                    background-color: #2196F3;
                }

                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the indicator (dot/circle) when checked */
                .container input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the indicator (dot/circle) */
                .container .checkmark:after {
                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            </style>



            <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Fill all Imformation Below </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Create", "Store_request", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {


                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Shop Name</label>
                        <input type="text" class="form-control" name="Store_request_name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Owner Name</label>
                        <input type="text" class="form-control" name="Store_request_owner_name">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Shop Type</label>
                        <div class="row">
                            <div class="col-lg-3">
                                <label class="container">

                                    <input value="@ret" type="radio" name="Store_request_type">
                                    @ret

                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label class="container">

                                    <input value="@who" type="radio" checked="checked" name="Store_request_type">
                                    @who
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"> Shop Discription </label>
                        <textarea class="form-control" name="Store_request_discription" rows="5"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"> Shop Address </label>
                        <textarea class="form-control" name="Store_request_address" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"> Phone No </label>
                        <input type="text" class="form-control" name="Store_request_phone_no">
                    </div>
                    <br />



                    <button type="submit" name="Create" class="btn-wishlist">Save changes</button>
                    }
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>



            <div class="container">

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-8">
                        <h2> Apni Dokan Free Ma Kholen </h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4">
                        <button class="btn-wishlist" alt="default" data-toggle="modal" data-target="#responsive-modal">Become a Member</button>
                    </div>
                </div>
            </div>
            <br />

</main>

@section scripts {




<script src="~/Content/Site_content/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".vertical-center-4").slick({
        dots: true,
        vertical: true,
        centerMode: true,
        slidesToShow: 4,
        slidesToScroll: 2
      });
      $(".vertical-center-3").slick({
        dots: true,
        vertical: true,
        centerMode: true,

        slidesToShow: 3,
        slidesToScroll: 3
      });
	  $('.autoplay').slick({
  slidesToShow: 3,
  slidesToScroll: 1,

});

      $(".vertical-center-2").slick({
        dots: true,
        vertical: true,
        centerMode: true,
        slidesToShow: 2,
        slidesToScroll: 2
      });
      $(".vertical-center").slick({
        dots: true,
        vertical: true,
        centerMode: true,
      });
      $(".vertical").slick({
        dots: true,
        vertical: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".regular").slick({
        dots: true,
        infinite: true,
		   autoplay: true,
  autoplaySpeed: 2000,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 3
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
      $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true
      });
    });
</script>


<script type="text/javascript">

        $(window).load(function () {
            $('#responsive-modal1').modal('show');
        });
</script>
}