﻿
@{
    ViewBag.Title = "Privacy_policy";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">Privacy Policy</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<main id="content" class="main-content-wrapper">

    <!-- Start of About US Section -->
    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>Privacy Policy of Azam market</h2>
                        </div>
                        <p>Azam market operates the www.azammarket.com website, which provides the SERVICE</p>
                        <p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the azammarket.com website</p>
                        <p>If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy</p>
                        <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at www.azammarket.com, unless otherwise defined in this Privacy Policy.</p>
                        <h4>Contact Us</h4>
                        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
                    </div>
                </div>
            </div> <!-- end of row -->
</div>
        </section>
</main>
