﻿@using PagedList
@using MvcPaging
@using PagedList.Mvc
@model  PagedList.IPagedList<MegaProject.Models.Store>   
@using MegaProject.Models


@{
    ViewBag.Title = "shops";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}    

@section Css{
@*<link href="~/Content/Paging/body.css" rel="stylesheet" />*@

    }


        <!-- Start of Breadcrumbs -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">Shop</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
@using (Html.BeginForm("shops", "Home", FormMethod.Get))
{
<div id="content" class="main-content-wrapper">

    <!-- Start of Shop Products Wrapper -->
    <div class="shop-products-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <main id="primary" class="site-main">
                        <div class="shop-wrapper">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="shop-toolbar">
                                        <div class="toolbar-inner">
                                            <div class="product-view-mode">
                                                <ul role="tablist" class="nav shop-item-filter-list">
                                                    <li role="presentation" class="active"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab" class="active show" aria-selected="true"><i class="ion-md-grid"></i></a></li>
                                                    <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="ion-md-list"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="toolbar-amount">
                                                <span>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount (@Model.PageCount Pages)</span>
                                            </div>
                                        </div>
                                        
                                           
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of row -->

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="shop-products-wrapper">
                                        <div class="tab-content">
                                            <div id="grid" class="tab-pane fade active show" role="tabpanel">
                                                <div class="row">
                                                    @foreach (var item in Model)
                                                    {

                                                    <div class="product-layout product-grid col-6 col-sm-6 col-md-4 col-lg-3">
                                                        <div class="product-thumb">
                                                            <div class="product-inner">
                                                                <div class="product-image">
                                                                    @*<div class="label-product label-new">New</div>*@
                                                                    <a href="~/Stores/Details?id=@item.StoreId">
                                                                        <img src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                        <img src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                    </a>
                                                                    @*<div class="action-links">
                                                                        <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                        <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                        <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                        <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                    </div>*@
                                                                </div> <!-- end of product-image -->

                                                                <div class="product-caption">
                                                                    @*<div class="product-ratings">
                                                                        <div class="rating-box">
                                                                            <ul class="rating d-flex">
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                                <li><i class="fa fa-star"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>*@
                                                                    <h4 class="product-name"><a href="~/Stores/Details?id=@item.StoreId">@item.StoreName</a></h4>
                                                                    <p class="product-price">
                                                                        @*<span class="price-old">$330.00</span>*@
                                                                        <span class="price-new">@item.StoreOwnerName</span>
                                                                    </p>
                                                                </div><!-- end of product-caption -->
                                                            </div><!-- end of product-inner -->
                                                        </div><!-- end of product-thumb -->
                                                    </div> <!-- end of product-layout -->
                                                    }

                                                </div>
                                            </div>
                                            <div id="list" class="tab-pane fade" role="tabpanel">
                                                <div class="row">
                                        @foreach (var item in Model)
                                        {
                                                    <div class="col-12 col-sm-12 col-md-12">
                                                        <div class="product-layout product-list">
                                                            <div class="product-thumb">
                                                                <div class="product-inner media align-items-center">
                                                                    <div class="product-image mb-4 mb-md-0 mr-md-4 mr-xl-5">
                                                                        @*<div class="label-product label-new">New</div>*@
                                                                        <a href="~/Stores/Details?id=@item.StoreId">
                                                                            <img src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" class="hover-image">
                                                                            <img src="~/Content/images/@item.StoreLogo" alt="Proin Lectus Ipsum" title="Proin Lectus Ipsum">
                                                                        </a>
                                                                        @*<div class="action-links">
                                                                            <a class="action-btn btn-cart" href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                                                                            <a class="action-btn btn-wishlist" href="#" title="Add to Wishlist"><i class="pe-7s-like"></i></a>
                                                                            <a class="action-btn btn-compare" href="#" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                                            <a class="action-btn btn-quickview" data-toggle="modal" data-target="#product_quick_view" href="#" title="Quick View"><i class="pe-7s-search"></i></a>
                                                                        </div>*@
                                                                    </div> <!-- end of product-image -->

                                                                    <div class="product-caption media-body">
                                                                        @*<div class="product-ratings">
                                                                            <div class="rating-box">
                                                                                <ul class="rating d-flex justify-content-md-start">
                                                                                    <li><i class="fa fa-star"></i></li>
                                                                                    <li><i class="fa fa-star"></i></li>
                                                                                    <li><i class="fa fa-star"></i></li>
                                                                                    <li><i class="fa fa-star"></i></li>
                                                                                    <li><i class="fa fa-star"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>*@
                                                                        <h4 class="product-name"><a href="~/Stores/Details?id=@item.StoreId">@item.StoreName</a></h4>
                                                                        <p class="product-price">
                                                                            @*<span class="price-old">$330.00</span>*@
                                                                            <span class="price-new">@item.StoreOwnerName</span>
                                                                        </p>
                                                                        <p class="product-des"> @item.StoreAddress </p>
                                                                    </div><!-- end of product-caption -->
                                                                </div><!-- end of product-inner -->
                                                            </div><!-- end of product-thumb -->
                                                        </div> <!-- end of product-layout -->

                                                    
                                                    </div>
                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end of shop-products-wrapper -->



                                    <style>

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

.pager {
  margin: 20px 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  line-height: 0;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next > a,
.pager .next > span {
  /*float: right;*/
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: default;
  background-color: #fff;
}





                                    </style>

                                    <div class="pagination-area">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-6">

                                                
                                                    <div class="pager">
                                                        @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { employee_name = ViewData["storeName"] }))
                                                        </div>

                                                        @*<li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item active"><a href="@Url.Action("shops",new { pagesize = Model.PageSize})" class="page-link">1</a></li>*@
                                                        @*<li class="page-item"><span class="page-link">2</span></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-right"></i></a></li>
            <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i>|</a></li>*@

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="page-amount d-flex">
                                                    <p>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount (@Model.PageCount Pages)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end of pagination-area -->
                                </div>
                            </div> <!-- end of row -->
                         <!-- end of shop-wrapper -->
                    </main> <!-- end of #primary -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Shop Products Wrapper -->
</div>
}



<script type="text/javascript">
        $(function () {
            $('a').tooltip();
        });
</script>
