﻿
@{
    ViewBag.Title = "terms_condition";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
}


<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <span class="breadcrumb-item active">Terms & conditions</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
<main id="content" class="main-content-wrapper">

    <!-- Start of About US Section -->
    <section class="faqs-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="faqs-intro mb-half">
                        <div class="section-title left-aligned with-border">
                            <h2>Terms & conditions:</h2>
                        </div>
                        <p>To insure that the availability of member’s physical appearance, if we are not found any physical appearance of member then Azaam Market has right to delete member’s online shop.</p>
                        <p>It’s our high priority to provide secure dealing to Azaam Market users</p>
                    </div>
                </div>
            </div> <!-- end of row -->
        </div>
    </section>
</main>
