﻿@model MegaProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Azam Market Admin Panal</title>

    <!-- page css -->
    <link href="~/Content/Admin_content/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin_content/dist/css/style.min.css" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
</head>
<body>
    <script>
        var App = angular.module('Register', []);
    App.controller("RegisterCtrl", function ($scope, $http) {



       
            $scope.SignupData = {};
            $scope.SignupData.UserName = "";
            $scope.SignupData.Email = "";


            var list = [];

        
            function JsonCallParam(Controller, Action, Parameters) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/' + Controller + '/' + Action,
                    context: document.body,
                    data:Parameters,
                    success: function (json) {
                        list = json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
   
    

            $scope.emailChecker = function () {
                $scope.validEmail = false;
                var pram = {
                    'EmailChecking': JSON.stringify($scope.SignupData.Email)
                };
                JsonCallParam("Account", "Check_Email_Exist", pram);
              
                if (list == null || list == "" || !list) {
                    $scope.validEmail = true;
                    
                }
                else {
                    $scope.validEmail = false;
                   
                }

            }; 
      
            $scope.UserChecker = function () {
                $scope.validUser = false;
                var pram = {
                    'UserChecking': JSON.stringify($scope.SignupData.UserName)
                };
                JsonCallParam("Account", "Check_User_Exist", pram);
             
                if (list == null || list == "" || !list) {
                    $scope.validUser = true;
                  
                }
                else {
                    $scope.validUser = false;
                   
                }

            };

        

        });
    </script>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Azam Market</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section ng-app="Register" id="wrapper" class="login-register login-sidebar" style="background-image:url(../Content/Admin_content/assets/images/background/login-register.jpg);">
        <div class="login-box card" ng-controller="RegisterCtrl">
            <div class="card-body">
                
                    
                    @*<div class="text-center">
                        <a href="javascript:void(0)" class="db"><img src="" alt="Home" /><br /><img src="" alt="Home" /></a>
                    </div>*@
                    <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div style="color:red">@Html.ValidationSummary()</div>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" name="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" name="UserName" ng-model="SignupData.UserName" ng-change="UserChecker()" placeholder="User Name">
                            <div style="color:red">  @Html.ValidationMessageFor(m => m.UserName)</div>
                            <span style="color:red" ng-show="validUser==false">This User Name is Already Exists</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" required="" ng-model="SignupData.Email" ng-change="emailChecker()"  name="Email" placeholder="Email">
                            <div style="color:red">  @Html.ValidationMessageFor(m => m.Email)</div>
                            <span style="color:red" ng-show="validEmail==false">This Email Address is Already Exists</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required=""  name="Password"  placeholder="Password">
                            <div style="color:red">  @Html.ValidationMessageFor(m => m.Password)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" name="ConfirmPassword"  placeholder="Confirm Password">
                            <div style="color:red">  @Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                         </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            
                            <select name="RoleName" class="form-control">
                                <option value="Admin">Admin</option>
                                <option value="DataEntry">DataEntry</option>

                            </select>
                            </div>
                        </div>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" name="phone_No" placeholder="Phone No">
                            <div style="color:red">  @Html.ValidationMessageFor(m => m.phone_No)</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" ng-disabled="validEmail==false || validUser==false" type="submit">Sign Up</button>
                        </div>
                    </div>
                    }
                 
                
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/Admin_content/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/Admin_content/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/Content/Admin_content/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
</body>


</html>




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
