﻿@using MegaProject.Models
@{ ApplicationDbContext db = new ApplicationDbContext();



}


<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/ororus-v1/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 16 Sep 2018 11:48:55 GMT -->
<head>
   
    <title>@ViewBag.Title</title>
   

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.png">


    <!-- CSS files
    ============================================ -->
    <!-- Boostrap stylesheet -->
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/pe-icon-7-stroke.css">

    <!-- Plugins stylesheet -->
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/plugins.css">

    <!-- Master stylesheet -->
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/style12345.css">

    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/Site_content/assets/css/responsive1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- modernizr JS
    ============================================ -->
    <script src="~/Content/Site_content/assets/js/modernizr-2.8.3.min.js"></script>
    @if (ViewBag.content != null)
    {
       
        <meta property="og:title" content="@ViewBag.content" />
        <meta property="og:description" content="@ViewBag.desc" />
        <meta property="og:image" content="http://www.azam-market.com/Content/images/@Model.StoreLogo" />
    }
    

    @RenderSection("Css", false)
</head>



<body>

    <div id="whole" class="whole-site-wrapper color-scheme-two">
        
        <!-- Start of Newsletter Popup -->
        @*<div id="newsletter_popup" class="newsletter-popup">
                <div class="popup-container">
                    <div class="popup-close">
                        <span class="p-close"><span>X</span></span>
                    </div> <!-- end of popup-close -->

                    <div class="popup-area text-center">
                        <h2>Subscribe to our Newsletter</h2>
                        <div class="popup-body">
                            <p>Subscribe to the Ororus mailing list to receive updates on new arrivals, special offers and other discount information.</p>
                            <div class="subscribe-form-group">
                                <form action="#">
                                    <input type="text" name="message" id="message" class="form-control" placeholder="Enter your email address" required>
                                    <button type="submit" class="btn btn-secondary">Subscribe</button>
                                </form>
                            </div>
                        </div> <!-- end of popup-body -->

                        <div class="popup-footer">
                            <div class="form-check">
                                <div class="custom-checkbox">
                                    <input class="form-check-input" type="checkbox" id="cancel_popup">
                                    <span class="checkmark"></span>
                                    <label class="form-check-label" for="cancel_popup">Don't show this popup again</label>
                                </div>
                            </div>
                        </div> <!-- end of popup-footer -->
                    </div> <!-- end of popup-area -->
                </div> <!-- end of popup-container -->
            </div>*@
        <!-- End of Newsletter Popup -->
        <!-- Start of Header -->
        <header class="header with-bg white-scheme">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center">
                            <div class="logo">
                                <a href="~/Home/Index"><img src="~/Content/Site_content/assets/images/azam.svg" alt="Logo" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                            <div class="top-header">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-6 order-md-2 order-lg-1">
                                        @*<div class="top-search">
                                            <p>Trending Search: <a href="#">Headphones</a>, <a href="#">Electronics</a>, <a href="#">Mobile</a>...</p>
                                        </div>*@
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-md-1 order-lg-2">
                                        <ul class="list-inline">
                                            <li class="top-links list-inline-item">
                                                <div class="btn-group">
                                                    <a class="btn-link dropdown-toggle"><i class="fas fa-user-alt"></i></a>
                                                    <div class="dropdown-menu">
                                                        <ul>

                                                            @if (Session["UserId"] != null)
                                                            {
                                                                if (User.IsInRole("StoreAdmin"))
                                                                {

                                                                    var userid = Convert.ToString(Session["UserId"]);
                                                                    var xys = db.Stores.Where(m => m.Id == userid).SingleOrDefault();

                                                                    <li><a href="~/Stores/Edit_profile?id=@xys.StoreId">Profile</a></li>
                                                                    
                                                                }
                                                            }

                                                            @if (Session["UserId"] != null)
                                                            {
                                                                <li><p>@Session["UserName"]</p></li>
                                                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">logout</a></li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li><a href="~/Account/login">Login</a></li>
                                                            }


                                                            @*<li><a href="checkout.html">Checkout</a></li>*@
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="top-links list-inline-item">
                                                <div class="btn-group">
                                                    <a class="btn-link dropdown-toggle"><i class="fas fa-address-card"></i></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li>17/B Angori Scheme # 2 Shalamar link road Lahore</li>
</ul>
                                                        </div>
                                                    </div>
</li>
                                            <li class="top-links list-inline-item">
                                                <div class="btn-group">
                                                    <a class="btn-link dropdown-toggle"><i class="fas fa-phone"></i></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li>0322-4222913</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                                    @*<li class="language list-inline-item">
                        <div class="btn-group">
                            <button class="btn-link dropdown-toggle"><img src="assets/images/icons/en-gb.png" alt="Icons"> English <i class="fa fa-angle-down"></i></button>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="#"><img src="assets/images/icons/en-gb.png" alt="Icons"> English</a></li>
                                    <li><a href="#"><img src="assets/images/icons/fr-fr.png" alt="Icons"> French</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="currency list-inline-item">
                        <div class="btn-group">
                            <button class="btn-link dropdown-toggle"> USD <i class="fa fa-angle-down"></i></button>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="#">€ Euro</a></li>
                                    <li><a href="#">£ Pound Sterling</a></li>
                                    <li><a href="#">$ US Dollar</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>*@
                                        </ul>



                                    </div>
                                </div>
                            </div> <!-- end of top-header -->
                            <div class="bottom-header">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                        @*<div class="header-search-area">
                                            <div class="search-categories">
                                                <form action="#">
                                                    <div class="search-form-input">
                                                        <select id="select" name="select" class="nice-select">
                                                            <option>All Categories</option>
                                                            <option>Gamepad</option>
                                                            <option>Laptop</option>
                                                            <option>Mobile</option>
                                                            <option>Cell Phones</option>
                                                            <option>Phone Cases</option>
                                                            <option>Cell Phones</option>
                                                            <option>SmartWatch</option>
                                                            <option>Tvs</option>
                                                            <option>D-Series TVs</option>
                                                            <option>LED TVs</option>
                                                            <option>OLED TVs</option>
                                                            <option>Video Games</option>
                                                            <option>Controllers</option>
                                                            <option>PC Gamepads</option>
                                                            <option>Xbox 360</option>
                                                            <option>Shop</option>
                                                            <option>Earbud</option>
                                                            <option>Keyboard</option>
                                                            <option>Watches</option>
                                                            <option>Blazers</option>
                                                            <option>Microphones</option>
                                                        </select>
                                                        <div class="search-wrapper">
                                                            <input type="text" placeholder="Search">
                                                            <button class="header-search-btn" type="submit"><i class="ion ion-ios-search"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>  end of header-search-area*@
                                    </div>
                            @*<div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                <div class="header-cart-area">
                                    <div class="header-cart">
                                        <div class="btn-group">
                                            <button class="btn-link dropdown-toggle icon-cart">
                                                <i class="pe-7s-cart"></i>
                                                <span class="count-style">2</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <div class="shopping-cart-content">
                                                    <ul class="list-unstyled">
                                                        <li class="single-cart-item media">
                                                            <div class="shopping-cart-img mr-4">
                                                                <a href="#">
                                                                    <img class="img-fluid" alt="Cart Item" src="assets/images/cart/cart-1.jpg">
                                                                    <span class="product-quantity">1x</span>
                                                                </a>
                                                            </div>
                                                            <div class="shopping-cart-title media-body">
                                                                <h4><a href="#">Donec Ac Tempus</a></h4>
                                                                <p class="cart-price">$120.00</p>
                                                                <div class="product-attr">
                                                                    <span>Size: S</span>
                                                                    <span>Color: Black</span>
                                                                </div>
                                                            </div>
                                                            <div class="shopping-cart-delete">
                                                                <a href="#"><i class="ion ion-md-close"></i></a>
                                                            </div>
                                                        </li>
                                                        <li class="single-cart-item media">
                                                            <div class="shopping-cart-img mr-4">
                                                                <a href="#">
                                                                    <img class="img-fluid" alt="Cart Item" src="assets/images/cart/cart-2.jpg">
                                                                    <span class="product-quantity">2x</span>
                                                                </a>
                                                            </div>
                                                            <div class="shopping-cart-title media-body">
                                                                <h4><a href="#">Aliquam Consequat</a></h4>
                                                                <p class="cart-price">$200.00</p>
                                                                <div class="product-attr">
                                                                    <span>Color: White</span>
                                                                    <span>Accessories: Yes</span>
                                                                </div>
                                                            </div>
                                                            <div class="shopping-cart-delete">
                                                                <a href="#"><i class="ion ion-md-close"></i></a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="shopping-cart-total">
                                                        <h4>Sub-Total : <span>$320.00</span></h4>
                                                        <h4>Total : <span>$320.00</span></h4>
                                                    </div>
                                                    <div class="shopping-cart-btn">
                                                        <a class="default-btn" href="cart.html">view cart</a>
                                                        <a class="default-btn" href="checkout.html">checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            @*<div class="header-contact media">
                                <div class="header-contact-icon mr-4">
                                    <i class="pe-7s-headphones"></i>
                                </div>
                                <div class="header-contact-content media-body">
                                    <p><span>CALL US NOW:</span> <br><a href="#">+88 123.456.789</a></p>
                                </div>
                            </div>*@
                        </div> <!-- end of header-cart-area -->
                    </div>
                    @*</div>
                                      </div>  end of bottom-header
                        </div>*@
                </div> <!-- end of row -->
            </div> <!-- end of container -->
                    </div>
                </div>
            <div class="main-nav-area transparent-nav">
                <div class="container">
                    <nav id="main_nav" class="stellarnav">
                        <ul class="text-left">
                            <li>
                                <a href="~/Home/Index"><span>Home</span></a>
                                @*<ul>
                                        <li><a href="index.html">Home Page 1</a></li>
                                        <li><a href="index-2.html">Home Page 2</a></li>
                                        <li><a href="index-3.html">Home Page 3</a></li>
                                        <li><a href="index-4.html">Home Page 4</a></li>
                                    </ul>*@
                            </li>
                            @*<li class="mega" data-columns="3">
                                <a href="my-account.html"><span>Pages</span></a>
                                <ul class="mega-container">
                                    <li>
                                        <a href="my-account.html" class="mega-menu-title"><h3>Inner pages 01</h3></a>
                                        <ul>
                                            <li><a href="my-account.html">My Account</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                        </ul>
                                    </li>*@

                            @*<li>
                                    <a href="#" class="mega-menu-title"><h3>Inner pages 02</h3></a>
                                    <ul>
                                        <li><a href="cart.html">Cart Page</a>
                                        <li>
                                        <li><a href="checkout.html">Checkout Page</a></li>
                                        <li><a href="wishlist.html">Wishlist Page</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="mega-menu-title"><h3>Inner pages 03</h3></a>
                                    <ul>
                                        <li><a href="compare.html">Product Compare</a></li>
                                        <li><a href="faqs.html">FAQs Page</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>*@
                            @*</ul>*@
                            @*</li>*@
                            <li>
                                <a href="~/Home/shops"><span>Shop Pages</span></a>
                                @*<ul>
                                        <li><a href="shop-grid.html">Shop Grid</a></li>
                                        <li><a href="shop-list.html">Shop List</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-fullwidth.html">Shop Full Width</a></li>
                                        <li><a href="single-product.html">Single Product Page</a></li>
                                    </ul>*@
                            </li>
                            @*<li>
                                    <a href="blog.html"><span>Blog Pages</span></a>
                                    <ul>
                                        <li><a href="blog.html">Blog FullWidth</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>*@
                            <li><a href="~/Home/About"><span>About Us</span></a></li>
                            <li><a href="~/Home/Contact_us"><span>Contact Us</span></a></li>
                         
                        </ul>
                    </nav>
                </div>  
            </div>
           
            </header>
        <div class="fixed-header-space"></div> 


            <div>
                @RenderBody()
            </div>
            <footer id="colophon">

                <!-- Footer Widgets Area -->
                <div class="footer-widgets-area">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                    <aside class="widget-container">
                                        <h4 class="widgettitle">Contact Info</h4>
                                        <div class="widget-content">
                                            <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                            <div class="footer-contact">
                                                <p class="footer-address">17/B Angori Scheme # 2 Shalamar link road Lahore </p>
                                                <p class="footer-phone"><a href="#">0322-4222913 </a></p>
                                                <p class="footer-email"><a href="#"> Info@azam-market.com </a></p>
                                            </div>
                                        </div> <!-- end of widget-content -->
                                    </aside> <!-- end of widget-container -->
                                </div>

                                @*<div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                    <aside class="widget-container">
                                        <h4 class="widgettitle">Recent Posts</h4>
                                        <div class="widget-content">
                                            <div class="recent-posts-widget">

                                                <!-- Slides -->
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="posts-single media">
                                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                                <a href="#">
                                                                    <img src="assets/images/blog/blog-thumb-1.jpg" alt="Blog Image">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                            </div>
                                                            <div class="post-content media-body">
                                                                <div class="post-title">
                                                                    <h5><a href="#">Aypi non habent claritatem insitam</a></h5>
                                                                </div>
                                                                <div class="post-date">09 Aug</div>
                                                            </div>
                                                        </div> <!-- end of posts-single -->

                                                        <div class="posts-single media">
                                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                                <a href="#">
                                                                    <img src="assets/images/blog/blog-thumb-2.jpg" alt="Blog Image">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                            </div>
                                                            <div class="post-content media-body">
                                                                <div class="post-title">
                                                                    <h5><a href="#">Bypi non habent claritatem insitam</a></h5>
                                                                </div>
                                                                <div class="post-date">09 Aug</div>
                                                            </div>
                                                        </div> <!-- end of posts-single -->
                                                    </div>

                                                    <div class="swiper-slide">
                                                        <div class="posts-single media">
                                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                                <a href="#">
                                                                    <img src="assets/images/blog/blog-thumb-3.jpg" alt="Blog Image">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                            </div>
                                                            <div class="post-content media-body">
                                                                <div class="post-title">
                                                                    <h5><a href="#">Cabent claritatem insitam</a></h5>
                                                                </div>
                                                                <div class="post-date">21 Nov</div>
                                                            </div>
                                                        </div> <!-- end of posts-single -->

                                                        <div class="posts-single media">
                                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                                <a href="#">
                                                                    <img src="assets/images/blog/blog-thumb-4.jpg" alt="Blog Image">
                                                                    <div class="overlay"></div>
                                                                </a>
                                                            </div>
                                                            <div class="post-content media-body">
                                                                <div class="post-title">
                                                                    <h5><a href="#">Cypi non habent claritatem insitam</a></h5>
                                                                </div>
                                                                <div class="post-date">09 Aug</div>
                                                            </div>
                                                        </div> <!-- end of posts-single -->
                                                    </div>
                                                </div>
                                            </div> <!-- end of recent-posts-widget -->
                                        </div> <!-- end of widget-content -->
                                    </aside> <!-- end of widget-container -->
                                </div>*@

                                <div class="col-12 col-sm-12 col-md-6 col-lg-2">
                                    <aside class="widget-container">
                                        <h4 class="widgettitle">Information</h4>
                                        <div class="widget-content">
                                            <div class="widgetized-menu">
                                                <ul class="list-unstyled">
                                                    <li><a href="~/Home/About">About Us</a></li>
                                                    @*<li><a href="#">Delivery Information</a></li>*@
                                                    <li><a href="~/Home/Privacy_policy">Privacy Policy</a></li>
                                                    <li><a href="~/Home/terms_condition">Terms &amp; Conditions</a></li>
                                                    <li><a href="~/Home/faq_s">FAQs!</a></li>
                                                    @*<li><a href="#">Gift Certificates</a></li>*@
                                                </ul>
                                            </div>
                                        </div> <!-- end of widget-content -->
                                    </aside> <!-- end of widget-container -->
                                </div>

                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <aside class="widget-container">
                                        @*<h4 class="widgettitle">Popular Tags</h4>
                                        <div class="widget-content">
                                            <div class="tags-widget">
                                                <ul>
                                                    <li><a href="#">headphones</a></li>
                                                    <li><a href="#">mobile</a></li>
                                                    <li><a href="#">gamepad</a></li>
                                                    <li><a href="#">cameras</a></li>
                                                    <li><a href="#">drone</a></li>
                                                    <li><a href="#">tvs</a></li>
                                                    <li><a href="#">smartwatch</a></li>
                                                </ul>
                                            </div>
                                        </div>  end of widget-content*@ 
                                    </aside> <!-- end of widget-container -->
                                </div>
                            </div> <!-- end of row -->
                        </div> <!-- end of footer-inner -->
                    </div> <!-- end of container -->
                </div> <!-- end of footer-widgets-area -->
                <!-- Footer Description -->
                <div class="footer-description">
                    <div class="container">
                        <div class="row">
                            @*<div class="col-12 col-sm-12 col-md-12">
                                <h2>Online Shopping at Ororus.</h2>
                                <p>Our extensive and affordable range features the very latest electronics and gadgets including smart phones, tablets, smart watches, action cams, tv boxes, televisions, drones, 3d printers, car dvr, along with the latest cool toys like scooters, gaming accessories, doll houses, pretend play and high quality lifestyle products comprising vacuum cleaners, air purifier, kitchen tools, ceiling lights, flashlight, oil painting, etc.</p>
                            </div>*@
                        </div> <!-- endo of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of footer-description -->
                <!-- Footer Copyright -->
                <div class="footer-copyright">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    <p class="copyright-text">Copyright © 2018 <a href="http://digicon-valley.com/" rel="nofollow"> Digicon Valley </a>. All Right Reserved.</p>
                                </div>
                            @*<div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    @*<div class="footer-payment">
                                        <ul>
                                            <li><a href="#"><img src="assets/images/icons/payment-1.jpg" alt="Payment Icons"></a></li>
                                            <li><a href="#"><img src="assets/images/icons/payment-2.jpg" alt="Payment Icons"></a></li>
                                            <li><a href="#"><img src="assets/images/icons/payment-3.jpg" alt="Payment Icons"></a></li>
                                            <li><a href="#"><img src="assets/images/icons/payment-4.jpg" alt="Payment Icons"></a></li>
                                            <li><a href="#"><img src="assets/images/icons/payment-5.jpg" alt="Payment Icons"></a></li>
                                            <li><a href="#"><img src="assets/images/icons/payment-6.jpg" alt="Payment Icons"></a></li>
                                        </ul>
                                    </div>
                                </div>*@
                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of footer-copyright -->
            </footer>
            <!-- End of Footer -->
    </div>

    @*<script src="~/Content/Site_content/assets/js/jquery.1.12.4.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
   

    <!-- Popper JS -->
    <script src="~/Content/Site_content/assets/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/Site_content/assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/Content/Site_content/assets/js/plugins.js"></script>

    <!-- Main JS -->
    
    <script src="~/Content/Site_content/assets/js/main.js"></script>
    
    @RenderSection("scripts", false)
    @RenderSection("ScriptsTwo", false)



</body>

</html>