﻿@using MegaProject.Models
@{
    ViewBag.Title = "show_contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}



<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">All Contacts</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">All Contacts</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">











                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Contacts</h4>
                        
                        <hr />
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th> Name</th>
                                        <th> E-mail</th>
                                        <th> Subject</th>
                                        <th> Message</th>
                                       



                                        

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th> Name</th>
                                        <th> E-mail</th>
                                        <th> Subject</th>
                                        <th> Message</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in db.contacts.ToList())
                                    {


                                    <tr>

                                        <td>@item.contact_Name</td>
                                        <td>@item.Contact_Email</td>
                                        <td>@item.Contact_Subject</td>
                                        <td>@item.Contact_Message</td>
                                      




                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Content/Admin_content/dist/js/pages/jasny-bootstrap.js"></script>



    <script src="~/Content/Admin_content/assets/node_modules/datatables/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
        $(function () {
            $('#myTable').DataTable();
            $(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    </script>

}
