﻿@model IEnumerable<MegaProject.Models.Store_request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_owner_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_request_phone_no)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_owner_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_request_phone_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Store_request_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Store_request_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Store_request_id })
        </td>
    </tr>
}

</table>
