﻿@model MegaProject.Models.Store

@{
    ViewBag.Title = "Details";
    ViewBag.content = Model.StoreName;
    ViewBag.desc = Model.Discription;
    ViewBag.logo = "no.png";
    Layout = "~/Views/Shared/_LayoutSsite.cshtml";

}
  <!-- Bread Crumb STRAT -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Home</a>
                    <a class="breadcrumb-item" href="shop-grid.html">Shop</a>
                    <span class="breadcrumb-item active">@Model.StoreName</span>
                </nav>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
 <!-- Start of Main Content Wrapper -->
<div id="content" class="main-content-wrapper">

    <!-- Start of Main Product Wrapper -->
    <div class="main-product-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <main id="primary" class="site-main">
                        <div class="single-product-wrapper">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="product-gallery">
                                        <div class="gallery-with-thumbs">
                                            <div class="product-full-image main-slider image-popup">

                                                <!-- Slides -->
                                                <div class="swiper-wrapper">
                                                    <figure class="swiper-slide">
                                                        <a href="~/Content/images/@Model.StoreLogo" data-size="800x800">
                                                            <img height="538" width="538" src="~/Content/images/@Model.StoreLogo" alt="Product Image">
                                                            <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                        </a>
                                                        <figcaption class="visually-hidden">
                                                            <span>Shop Image</span>
                                                        </figcaption>
                                                    </figure>
                                                   
                                                </div>
                                            </div> <!-- end of product-full-image -->

                                            <div class="product-thumb-image pos-r">
                                                <div class="nav-slider">

                                                    <!-- Slides -->
                                                    @*<div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-1.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-2.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-3.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-4.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-5.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <img src="assets/images/products/single/product-thumb-6.jpg" alt="Product Thumbnail Image">
                                                        </div>
                                                    </div>*@

                                                    <!-- Navigation -->
                                                    <div class="swiper-arrow next"><i class="fa fa-angle-right"></i></div>
                                                    <div class="swiper-arrow prev"><i class="fa fa-angle-left"></i></div>
                                                </div> <!-- end of nav-slider -->
                                            </div> <!-- end of product-thumb-image -->
                                        </div> <!-- end of gallery-with-thumbs -->
                                    </div> <!-- end of product-gallery -->
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="product-details">
                                        <h3 class="product-name">@Model.StoreName</h3>
                                       
                                        <div class="product-meta">
                                            <ul class="list-unstyled">
                                                <li>Store Name <a href="#"><span>@Model.StoreName</span></a></li>
                                                <li>Store Owner Name: <span>@Model.StoreOwnerName</span></li>
                                                <li>Store Number: <span>@Model.StoreNumber</span></li>
                                                <li>Store Owner Number: <span>@Model.StoreOwnerNumber</span></li>
                                            </ul>
                                        </div>
                                        <div class="product-description">
                                            <p>@Model.StoreAddress</p>
                                        </div>
                                       

                                        <div class="social-sharing d-flex align-items-center mt-half">
                                            <span>Share</span>
                                            <ul class="list-inline">
                                           
                                             
                                            </ul>
                                            <script>
                                        (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                         if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                     js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=581122005671996&autoLogAppEvents=1';
                  fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                                            <div class="fb-share-button" data-image="http://www.azam-market.com/Content/images/@Model.StoreLogo" data-href="http://azam-market.com/Stores/Details?id=@Model.StoreId" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fazam-market.com%2FStores%2FDetails%3Fid%3D2&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                                        </div>
                                    </div> <!-- end of product-details -->
                                </div>
                            </div> <!-- end of row -->

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="product-info mt-full">
                                        <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                                            <li class="nav-item mr-4">
                                                <a class="nav-link active" id="nav_desctiption" data-toggle="pill" href="#tab_description" role="tab" aria-controls="tab_description" aria-selected="true">Description</a>
                                            </li>
                                            @*<li class="nav-item">
                                                <a class="nav-link" id="nav_review" data-toggle="pill" href="#tab_review" role="tab" aria-controls="tab_review" aria-selected="false">Reviews (2)</a>
                                            </li>*@
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab_description" role="tabpanel" aria-labelledby="nav_desctiption">
                                                <p>@Model.Discription</p>
                                            </div>
                                            
                                                </div> <!-- end of product-review -->
                                            @*</div>*@
                                        @*</div>*@
                                    </div>
                                </div>
                            </div> <!-- end of row -->
                        </div> <!-- end of single-product-wrapper -->
                    </main> <!-- end of #primary -->
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
  
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>