﻿@model MegaProject.Models.Store
@{
    ViewBag.Title = "Detai";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
  <!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Shop Detail</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a href="index.html">Home</a>/</li>
                    <li><span>Shop Detail</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-5 col-md-5 mb-xs-30">
                        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                            <img src="~/Content/images/@Model.StoreLogo" alt="Everypick">

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-detail-main">
                                    <div class="product-item-details">
                                        <h1 class="product-item-name">@Model.StoreName</h1>
                                        <div class="rating-summary-block">
                                            <div title="93%" class="rating-result"> <span style="width:93%"></span> </div>
                                        </div>

                                        <div class="product-info-stock-sku">
                                            <div>
                                                <label>Mobile: </label>
                                                <span class="info-deta">@Model.StoreOwnerNumber</span>
                                            </div>
                                            <div>
                                                <label>Tel No: </label>
                                                <span class="info-deta">@Model.StoreNumber</span>
                                            </div>
                                        </div>
                                          <p>@Model.StoreAddress</p>
                                        <ul class="product-list">
                                            <li><i class="fa fa-check"></i> Satisfaction 100% Guaranteed</li>
                                            <li><i class="fa fa-check"></i> Free shipping on orders over $99</li>
                                            <li><i class="fa fa-check"></i> 14 day easy Return</li>
                                        </ul>



                                        <div class="share-link">
                                            <label>Share This : </label>
                                            <div class="social-link">
                                                <ul class="social-icon">
                                                    <li><a class="facebook" title="Facebook" href="#"><i class="fa fa-facebook"> </i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- CONTAINER END -->
<br /> <br />