﻿@model MegaProject.Models.Store
    @using MegaProject.Models
@{
    ViewBag.Title = "Edit_profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();

}

@section Css{



    }

@if (Session["errrrorr"] != null)
{
<div id="responsive-modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <p style="color:red;"> Invalid Old Password </p> 
            <div class="modal-body" style="padding:30px">
                @using (Html.BeginForm("change_password", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Old Password</label>
                        <input type="password" class="form-control" name="old_password">
                    </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">New Password</label>
                                                <input type="password" class="form-control" name="new_password">
                                            </div>

                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Confrim Password</label>
                                                <input type="password" class="form-control" name="confrim_paasword">
                                            </div>
                                            <button type="submit" name="change_password" class="btn btn-danger waves-effect waves-light">Save changes</button>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
}
@Session["errrrorr"] == null


  <!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Store Profile</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Store Profile</li>
                    </ol>
                   
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30">
                            <img src="~/Content/images/@Model.StoreLogo" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10"> @Model.StoreName </h4>
                            <h6 class="card-subtitle"> @Model.StoreOwnerName </h6>
                          
                        </center>
                    </div>
                   
               
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        @*<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>*@
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content ">
                        
                        <!--second tab-->
                        <div class="tab-pane active" id="profile" role="tabpanel">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Store Name</strong>
                                        <br>
                                        <p class="text-muted"> @Model.StoreName </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Mobile</strong>
                                        <br>
                                        <p class="text-muted"> @Model.StoreNumber </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Email</strong>
                                        <br>
                                        <p class="text-muted">@Model.ApplicationUser.Email</p>
                                    </div>
                                    @*<div class="col-md-3 col-xs-6">
                                        <strong>Location</strong>
                                        <br>
                                        <p class="text-muted">London</p>
                                    </div>*@
                                </div>
                                <hr>
                                <h4>Description</h4>
                                <p class="m-t-30">@Model.Discription </p>
                                @*<h4 class="font-medium m-t-30">Skill Set</h4>
                                <hr>*@
                                @*<h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                </div>*@
                            </div>
                        </div>

                  
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                @using (Html.BeginForm("Edit_profile", "Stores", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @*<form class="form-horizontal form-material"  method="post"  action="~/Stores/Edit_profile"*@
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    @Html.HiddenFor(model => model.StoreId)
                                    <div class="form-group">
                                        <label class="col-md-12"> Store Name </label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.StoreName" name="StoreName" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" class="form-control form-control-line" value="@Model.ApplicationUser.Email" name="Email" id="example-email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12"> Store Owner Name </label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.StoreOwnerName" name="StoreOwnerName" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.StoreNumber" name="StoreNumber" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Store Owner No</label>
                                        <div class="col-md-12">
                                            <input type="text" value="@Model.StoreOwnerNumber" name="StoreOwnerNumber" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Address</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line" value="@Model.StoreAddress" name="StoreAddress"></textarea>
                                        </div>
                                    </div>





                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" type="submit" name="Edit_profile">Update Profile</button>
                                           
                                        </div>
                                    </div>
                                }

                                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Change Password</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                           
                                            <div class="modal-body"> 
                                                @using (Html.BeginForm("change_password", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                            {
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Old Password</label>
                                                <input type="password" class="form-control" name="old_password" >
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">New Password</label>
                                                <input type="password" class="form-control" name="new_password">
                                            </div>

                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Confrim Password</label>
                                                <input type="password" class="form-control" name="confrim_paasword">
                                            </div>
                                            
                                            
                                            <button type="submit" name="change_password" class="btn btn-danger waves-effect waves-light">Save changes</button>
                                            }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group">

                                    <div class="col-sm-12">
                                                
                                        <button class="btn btn-success" alt="default" data-toggle="modal" data-target="#responsive-modal">Change Password</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
@section scripts{
  
    <script>
$(document).ready(function(){
    $("#responsive-modal1").modal();
});
//made by csandreas1 for Stackoverflow
</script>

    }