﻿﻿@model IEnumerable<MegaProject.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Css {
    <!-- DataTables -->
    <link href="~/Content/Admin_content/dist/css/pages/file-upload.css" rel="stylesheet">

    <link href="~/Content/Admin_content/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">


}

<!-- Start content -->
<script>
    // var App = angular.module("app", ["ng-file-model"]);
    App.controller("StoreCtrl", function ($scope, $http, RequestService, Upload, $timeout) {
        $scope.SelectedFiles = "";
        $scope.UploadFiles = function (files) {
           // console.log(files);
            $scope.SelectedFiles = files;
            if ($scope.SelectedFiles && $scope.SelectedFiles.length) {
                Upload.upload({
                    url: '/Stores/Upload/',
                    data: {
                        files: $scope.SelectedFiles
                    }
                }).then(function (response) {
                    $timeout(function () {
                        $scope.Result = response.data;
                    });
                }, function (response) {
                    if (response.status > 0) {
                        var errorMsg = response.status + ': ' + response.data;
                        alert(errorMsg);
                    }
                });
            }

        };


            $scope.Grid = [];
            $scope.StoreTypeList = [];
            $scope.StoreList = [];
            $scope.submittedFile = {};
            $scope.obj = {};
            $scope.StoreTypeObj = {
                StoreId: 0, StoreTypes: "WholeSaler", StoreName: "", StoreEmail: "", StoreOwnerName: "", StoreNumber: "",
                StoreOwnerNumber: "", StoreAddress: "", StoreLogo: "", Discription:"",
                Status: true
            };
            $scope.SignupData = {};
            $scope.SignupData.UserName = "";
            $scope.SignupData.Email = "";
            $scope.SignupData.Name = "";

            $scope.logoclear = "";
            var list = [];

            function JsonCall(Controller, Action) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/' + Controller + '/' + Action,
                    context: document.body,
                    success: function (json) {
                        list= json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            function JsonCallParam(Controller, Action, Parameters) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/' + Controller + '/' + Action,
                    context: document.body,
                    data:Parameters,
                    success: function (json) {
                        list = json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            function WebApiCall(Type, Action, Parameters) {

                $.ajax({
                    type: Type,
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/api/' + Action,
                    context: document.body,
                    data: Parameters,
                    ContentType: 'application/json;utf-8',
                    success: function (json) {
                        list = json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            function SaveProductImage(formData, StoreId) {
                var res = '';
                $http.post('/Stores/StoreImage', formData, {
                    withCredentials: true,                      //Save ProductImage
                    headers: { 'Content-Type': undefined },
                    transformRequest: angular.identity
                })
                    .then(
                    function (d) {
                        res = d.data.filename;
                        var ret = RequestService.JsonCallParam('Stores', 'AssignImagetoStore', { 'StoreId': StoreId, 'imageName': res });

                    },
                    function (e) {
                    }
                );
            }


            $scope.GetStore = function () {
                JsonCall("Stores", "GetStore");
                $scope.StoreList = list;

            }
            $scope.GetStore();


            $scope.GetStoreType = function () {
                JsonCall("StoreType", "GetStoreType");
                $scope.StoreTypeList = list;

            }
            $scope.GetStoreType();

            $scope.Save = function (obj) {


               // var ret = RequestService.JsonCallParam('Store', 'Insert', { 'Store': JSON.stringify($scope.StoreTypeObj) });

                //alert(JSON.stringify(obj.StoreLogo.name));
                console.log(obj);
                //$scope.StoreTypeObj.StoreLogo = obj.StoreLogo.name;
                //alert(JSON.stringify($scope.StoreTypeObj.StoreLogo));

                $scope.SignupData.UserName = $scope.StoreTypeObj.StoreOwnerName;
                $scope.SignupData.Email = $scope.StoreTypeObj.StoreEmail;
                $scope.SignupData.Name = $scope.StoreTypeObj.StoreOwnerName;
                var pram = {
                    'Store': JSON.stringify($scope.StoreTypeObj),
                    'RegisterViewModel': JSON.stringify($scope.SignupData)

                };
                if ($scope.StoreTypeObj.StoreId == 0) {
                    if ($scope.SignupData.UserName != "") {

                        JsonCallParam("Account", "Register2", pram);
                        //var ret = JSON.parse(RequestService.JsonCallParam('Account', 'Register2', { 'RegisterViewModel': pram }));
                        console.log(list)
                        if (list != null || list != "") {
                        }
                    }
                    if ($scope.StoreTypeObj.StoreId == 0 && list == true) {
                        console.log($scope.StoreTypeObj);
                        //  JsonCallParam("Store", "Insert", pram);
                        var ret1 = RequestService.JsonCallParam('Stores', 'Insert', { 'Store': JSON.stringify($scope.StoreTypeObj) });
                        if (!ret1.status && ret1 != '') {
                            $scope.StoreTypeObj.StoreId = ret1;

                            if ($scope.StoreTypeObj.StoreLogo != '') {
                                alert($scope.StoreTypeObj.StoreLogo)
                                var formData_pic1 = new FormData();
                                formData_pic1.append('file', $scope.StoreTypeObj.StoreLogo);
                                SaveProductImage(formData_pic1, $scope.StoreTypeObj.StoreId);
                            }

                        }
alert("saved");
                    }
                    $scope.clear();
                }
                if ($scope.StoreTypeObj.StoreId > 0) {

               //     alert("test");
                    $scope.StoreTypeObj.StoreDate = "";
                    var ret1 = RequestService.JsonCallParam('Stores', 'Update_Store', { 'Store': JSON.stringify($scope.StoreTypeObj) });
                }

                $scope.GetStore();
                $scope.clear();
            };

            $scope.emailChecker = function () {
                $scope.validEmail = false;
                var pram = {
                    'EmailChecking': JSON.stringify($scope.StoreTypeObj.StoreEmail)
                };
                JsonCallParam("Account", "Check_Email_Exist", pram);
                console.log(list);
                if (list == null || list == "" || !list) {
                    $scope.validEmail = true;
                    console.log($scope.validEmail);
                }
                else {
                    $scope.validEmail = false;
                    console.log($scope.validEmail);
                }

            };
            $scope.numberChecker = function () {
                $scope.validStoreNumber = true;


                var pram = {
                    'StoreNumber': JSON.stringify($scope.StoreTypeObj.StoreNumber)

                };
                JsonCallParam("Stores", "Check_Number_Exist", pram);
                console.log(list);
                if (list == "False Storenum" ) {
                    $scope.validStoreNumber = false;
                                    }

                if (list == "" ) {
                    $scope.validStoreNumber = true;


                }

            };
            $scope.ownernumberChecker = function () {

                $scope.validOwnerNumber = true;

                var pram = {

                    'StoreOwnerNumber': JSON.stringify($scope.StoreTypeObj.StoreOwnerNumber)
                };
                JsonCallParam("Stores", "Check_OwnerNumber_Exist", pram);
                console.log(list);

                if (list == "False StoreOwnerNum") {
                    $scope.validOwnerNumber = false;

                }
                if (list == "") {

                    $scope.validOwnerNumber = true;

                }

            };
            $scope.LoadData = function (obj) {

                JsonCallParam("Stores", "Get_Data", { "StoreId": obj.StoreId });
                $scope.StoreTypeObj = list;
                $scope.StoreTypeObj.Status = true;
                $scope.StoreTypeObj.StoreName.focus();




            };
            $scope.clear = function () {

                $scope.StoreTypeObj = {
                    StoreId: 0, StoreTypes: "WholeSaler", StoreName: "", StoreEmail: "", StoreOwnerName: "", StoreNumber: "",
                    StoreOwnerNumber: "", StoreAddress: "", StoreLogo: "",Discription:"",
                    Status: true
                };
                $scope.SignupData = {};
                $scope.SignupData.UserName = "";
                $scope.SignupData.Email = "";
                $scope.SignupData.Name = "";
                $scope.logoclear = "";

            };

        });
</script>

<div ng-controller="StoreCtrl">
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Add Store</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Store</a></li>
                            <li class="breadcrumb-item active">Add Strore</li>
                        </ol>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Stores</h4>

                            <form class="form-material m-t-40" name="form">
                                <div class="form-group">
                                    <label>Store Type</label>
                                    <select class="form-control" name="StoreTypes" ng-model="StoreTypeObj.StoreTypes">
                                        <option value="Retailer">Retailer</option>
                                        <option value="WholeSaler">Whole Saler</option>

                                    </select>
                                    <span style="color:red" ng-show="form.StoreTypes.$invalid &&form.StoreTypes.$dirty">
                                        <span ng-show="form.StoreTypes.$error.required">Enter Store Type</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label> Store Name </label>
                                    <input type="text" class="form-control form-control-line" name="StoreName" ng-model="StoreTypeObj.StoreName" placeholder="Enter Store Name " required />
                                    <span style="color:red" ng-show="form.StoreName.$invalid &&form.StoreName.$dirty">
                                        <span ng-show="form.StoreName.$error.required">Enter Store Name</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="example-email">Store Email</label>
                                    <input type="email" id="example-email2" class="form-control" ng-change="emailChecker()" name="StoreEmail" ng-model="StoreTypeObj.StoreEmail" placeholder="Enter Store Email " required" />
                                    <span style="color:red" ng-show="form.StoreEmail.$invalid &&form.StoreEmail.$dirty">
                                        <span ng-show="form.StoreEmail.$error.required">Enter Store Email</span>


                                    </span>
                                    <span style="color:red" ng-show="validEmail==false">This Email Address is Already Exists</span>
                                </div>

                                <div class="form-group">
                                    <label>Store Owner Name</label>
                                    <input type="text" class="form-control form-control-line" name="StoreOwnerName" ng-model="StoreTypeObj.StoreOwnerName" placeholder="Enter Store Owner Name " required />
                                    <span style="color:red" ng-show="form.StoreOwnerName.$invalid &&form.StoreOwnerName.$dirty">
                                        <span ng-show="form.StoreOwnerName.$error.required">Enter Store Owner Name</span>
                                    </span>

                                </div>
                                <div class="form-group">
                                    <label>Store Number</label>
                                    <input type="text" class="form-control form-control-line" ng-blur="numberChecker()" name="StoreNumber" ng-model="StoreTypeObj.StoreNumber" placeholder="Enter Store Number  ex: 0423xxxxxxx" required />
                                    <span style="color:red" ng-show="form.StoreNumber.$invalid &&form.StoreMobileNo.$dirty">
                                        <span ng-show="form.StoreNumber.$error.required">Enter Store Number</span>
                                    </span>
                                    <span style="color:red" ng-show="validStoreNumber==false">This Number is Already Exists</span>
                                </div>
                                <div class="form-group">
                                    <label>Store Owner Number</label>
                                    <input type="text" class="form-control form-control-line" ng-blur="ownernumberChecker()" name="StoreOwnerNumber" ng-model="StoreTypeObj.StoreOwnerNumber" placeholder="Store Owner Number ex: 032xxxxxxxx" required />
                                    <span style="color:red" ng-show="form.StoreOwnerNumber.$invalid &&form.StoreLandline.$dirty">
                                        <span ng-show="form.StoreOwnerNumber.$error.required">Enter Store Owner Number</span>
                                    </span>
                                    <span style="color:red" ng-show="validOwnerNumber==false">This Number is Already Exists</span>
                                </div>


                                <div class="form-group">
                                    <label>Store logo</label>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-append btn btn-default btn-file">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="StoreLogo" ngf-select="UploadFiles($files)" ng-model="logoclear" placeholder="Select Store Logo " />
                                        </span>
                                        <a href="javascript:void(0)" class="input-group-append btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>

                                    </div>
                                    <span style="color:red" ng-show="form.StoreLogo.$invalid &&form.StoreLogo.$dirty">
                                        <span ng-show="form.StoreLogo.$error.required">Select Logo</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Store Address</label>
                                    <textarea class="form-control" name="StoreAddress" ng-model="StoreTypeObj.StoreAddress" rows="5"></textarea>
                                    <span style="color:red" ng-show="form.StoreAddress.$invalid &&form.StoreAddress.$dirty">
                                        <span ng-show="form.StoreAddress.$error.required">Enter Store Address</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" name="Status" ng-model="StoreTypeObj.Status">
                                        <option value="true">Active</option>
                                        <option value="false">In-Active</option>

                                    </select>

                                </div>
                                <div class="form-group">
                                    <label>Store Description</label>
                                    <textarea class="form-control" name="Discription" ng-model="StoreTypeObj.Discription" rows="10"></textarea>
                                    <span style="color:red" ng-show="form.Discription.$invalid &&form.Discription.$dirty">
                                        <span ng-show="form.Discription.$error.required">Enter Store Description</span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="submit" name="Save" id="Save" value="Save" class="btn btn-lg btn-success" ng-disabled="validEmail==false || validOwnerNumber==false || validStoreNumber==false " ng-click="Save(StoreTypeObj)" style="width:100%" />
                                        </div>

                                        <div class="col-sm-6">
                                            <input type="button" value="Clear" class="btn btn-lg btn-warning" style="width:100%" ng-click="clear()" />
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Store</h4>
                            <input type="button" class="btn btn-sm btn-default" value="Refresh" ng-click="GetStore()" />
                            <hr />
                            <h6 class="card-subtitle"></h6>
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Store Type</th>

                                            <th>Store Name </th>
                                            <th>Owner Name</th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                            <th>Image</th>
                                            <th>Owner Number</th>

                                            <th>Store Type</th>
                                            <th>LandLine</th>
                                            <th>Description</th>
                                            <th>Address</th>



                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Action</th>
                                            <th>Store Type</th>

                                            <th>Store Name </th>
                                            <th>Owner Name</th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                            <th>Image</th>
                                            <th>Owner Number</th>

                                            <th>Store Type</th>
                                            <th>LandLine</th>
                                            <th>Description</th>
                                            <th>Address</th>



                                            <th>Status</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="item in StoreList">
                                            <td><input value="Edit" class="btn btn-sm btn-warning" type="button" ng-click="LoadData(item)" /></td>
                                            <td>{{item.StoreTypes}}</td>

                                            <td>{{item.StoreName}}</td>
                                            <td>{{item.StoreOwnerName}}</td>
                                            <td>{{item.user_name}}</td>
                                            <td>{{item.password}}</td>
                                            <td><img height="70" width="70" ng-src="{{ServerPath+'/Content/Images/'+item.StoreLogo}}" alt=""></td>
                                            <td>{{item.StoreOwnerNumber}}</td>

                                            <td>{{item.StoreTypes}}</td>s
                                            <td>{{item.StoreNumber}}</td>
                                            <td>{{item.Discription}}</td>
                                            <td>{{item.StoreAddress}}</td>

                                            <td>{{item.Status}}</td>




                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Content/Admin_content/dist/js/pages/jasny-bootstrap.js"></script>



    <script src="~/Content/Admin_content/assets/node_modules/datatables/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="~/Content/Admin_content/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="~/Content/Admin_content/cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
            $(function () {
                $('#myTable').DataTable();
                $(function () {
                    var table = $('#example').DataTable({
                        "columnDefs": [{
                            "visible": false,
                            "targets": 2
                        }],
                        "order": [
                            [2, 'asc']
                        ],
                        "displayLength": 25,
                        "drawCallback": function (settings) {
                            var api = this.api();
                            var rows = api.rows({
                                page: 'current'
                            }).nodes();
                            var last = null;
                            api.column(2, {
                                page: 'current'
                            }).data().each(function (group, i) {
                                if (last !== group) {
                                    $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                    last = group;
                                }
                            });
                        }
                    });
                    // Order by the grouping
                    $('#example tbody').on('click', 'tr.group', function () {
                        var currentOrder = table.order()[0];
                        if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                            table.order([2, 'desc']).draw();
                        } else {
                            table.order([2, 'asc']).draw();
                        }
                    });
                });
            });
            $('#example23').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    </script>

}
